.wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 998;
    top: 0;
    left: 0;
    // display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    max-height: 100vh;
}

.backdrop {
    
    position: fixed;
    z-index: 998;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    animation: fadeIn .3s;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeOut {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}
