

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

  .fadeWrapper {

    &.fade {
        &.fadeIn {
            animation: fadeIn 0.4s ease;
        }
        &.fadeOut {
            animation: fadeOut 0.4s ease;
        }
    }
  }