@import '../../layout/style/globals';

.text {
    margin-bottom: 3.75rem;
}

.white {
    color: $white;
}

.spaceLeft {
    margin-left: 1.25rem;
}

.iconRow {
    display: flex;
    align-items: center;

    &.center {
        justify-content: center;
    }

    img {
        margin-right: 1rem;
        height: 2rem;
    }
    h3 {
        margin: 0;
    }
}