@import '../style/globals';

.nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	max-height: 100vh;
	z-index: 200;
	background-color: none;
	padding: 0.5rem 0;
	border-bottom: none;
	transition: 0.4s ease-in-out;
	border-bottom: 1px solid #ffffff00;

	&.navbarBorder {
		transition: 0.4s ease-in-out;
		background-color: $white;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

	}

	@include mq($until: lg) {
		padding: 1.5rem 0;

		&::before {
			content: '';
			z-index: 30;
			background-color: $white;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			transition: background-color 0.4s 0.4s ease, border 0.6s 0.4s linear;
			border-bottom: 1px solid $grey;
		}

		&.closed::before {
			background-color: transparent;
			transition: none;
			border-bottom: none;
		}

		.navbarMobile {
			z-index: 30;

			.brand {
				z-index: 10;
				position: relative;
			}
		}

		&.closed {
			height: auto;

			.mainMenuInner {
				transform: translateX(100%);
			}
		}
	}
	.mainMenuInner {
		position: static;
		display: flex;
		flex: auto;
		justify-content: space-between;
		align-items: center;
		transform: none;
		

		@include mq($until: lg) {
			max-width: 100vw;
    		overflow-x: hidden;
			overflow-y: scroll;
			border-bottom: 1px solid $mediumgrey;

			&.expanded {
				padding-bottom: 0;
			}

			&:last-child {
				border-bottom: none;
			}
		}

		

		&>ul {
			margin-bottom: 0;
		}

		@include mq($until: lg) {
			height: 100%;
			position: fixed;
			top: 0;
			bottom: 0;
			background-color: $white;
			padding-top: 4.5rem;
			padding-bottom: 2rem;
			display: block;
			transform: translateX(0);
		}

	}
	.brand img {
		width: 7.5rem;
	}
	.brand a {
		line-height: 0;
	}

	.mainMenuCta {
		z-index: 30;

		a:first-child {
			margin-right: 0.5rem;
		}

		@include mq($until: lg) {
			background-color: #E5E9ED;
			padding: 1.75rem;
			margin-top: 1.875rem; 
			opacity: 1;
			transition: opacity 0.1s linear;

			&.hiddenCta {
				opacity: 0;
			}
			
			// a {
			// 	display: block;
			// 	margin: 0;

			// 	&:first-child {
			// 		margin-bottom: 0.9375rem;
			// 	}
			// }
		}

	}
	.menuToggle {
		display: none;
	}

	/******* Submenu *******/
	

	


	@include mq($until: lg) {
		
/******* Toggle *******/
		.menuToggle {
			background: transparent;
			border: none;
			display: block;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			z-index: 999;
			padding-right: 0.975rem;

			&:hover, &:active, &:focus {
				background: transparent;
				border: none;
			}
			.iconBar {
				display: block;
				height: 3px;
				border-radius: 18px;
				width: 1.5rem;
				transition: all 0.2s ease 0.2s;
				margin-top: 4px;
			}
				.topBar {
					transform: rotate(45deg);
					transform-origin: 20% 100%;
				}
				.bottomBar {
					transform: rotate(-45deg);
					transform-origin: 5% -60%;
				}
				.middleBar {
					opacity: 0;
					width: 1rem;
					margin-left: 0.5rem;
				}
			
		}
		&.closed .menuToggle .iconBar {
			background-color: $white;
		}
		&.navbarBorder .menuToggle .iconBar, .menuToggle .iconBar, .menuToggle.invert .iconBar {
			background-color: $blue;
		}
		
		.menuItemsList {
			display: block;
			margin: auto;
			text-align: left;

			li {
				padding: 1rem 0;
				margin: 0;
			}
		}
		.mainMenuCta {
			text-align: center;
			z-index: 30;

			.btn {
				width: 100%;
				margin: 0.5rem 0;
			}
		}
		&.touched .mainMenuInner, .mainMenuCta {
			transition: all 0.4s ease;
			opacity: 1;
			z-index: 20;
		}

/******* Toggle *******/
		&.closed {
			.menuToggle {
				.topBar {
					transform: rotate(0);
				}
				.bottomBar {
					transform: rotate(0);
				}
				.bottomBar {
					margin-bottom: 4px;
				}
				.middleBar {
					opacity: 1;
				}
			}
		}
	}
}

.notifyer {
	position: fixed; 
	width: 100%;
	left: 0;
	z-index: 100;
	transition: margin 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
	opacity: 0;
	transform: translateY(-1rem);

	&.notifyerScrolled {
		margin-top: 1rem;
	}
	&.notifyerVisible {
		opacity: 1;
		transform: translateY(0);
	}
}

.menuItems {

	&>ul>li>a {
		color: black;
		transition: border-color 0.4s ease-in-out;
	}	
}

.btnRight {
	@include mq($until: lg) {
			background-color: $blue;
			border-color: $blue;
			color: $white;
		}
	}
.btnLeft {
	@include mq($until: lg) {
			background-color: none;
			border-color: $black;
			color: $black;
		}
	}



