@import '../../layout/style/globals';

.wrapper {
    position: relative;
    height: 2rem;
    display: block;
    // width: 100%;
    cursor: pointer;

    .currLang {
        font-size: 1rem;
        position: relative;
        z-index: 1;
        text-align: left;
        &::after {
            content: '';
            position: absolute;
            height: 0.5rem;
            width: 0.8rem;
            top: 50%;
            right: 0;
            transform-origin: center;
            transform: translateY(-50%) scaleY(1);
            background-size: contain;
            // background-position: center;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.713' height='5.217' viewBox='0 0 7.713 5.217'%3E%3Cpath d='M-8181.449,10353l3.15,3.737,3.153-3.737' transform='translate(8182.153 -10352.296)' fill='none' stroke='rgb(0, 135, 239)' stroke-linecap='round' stroke-width='1'/%3E%3C/svg%3E");
            transition: transform .2s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
    }

    
    &:hover .currLang::after {
        transform: translateY(-50%) scaleY(-1);
    }
    .otherLangs {
        min-width: 7rem;
        // border: 1px solid $mediumgrey;
        display: block !important;
        position: absolute;
        bottom: 0;
        right: 0;
        transition: all 0.2s;
        padding: 0.25rem 0;
        border: 1px solid $mediumgrey;
        border-radius: 10px;
        color: $lightblack;
        padding: 0.25rem 0.5rem;
        background-color: $white;
        z-index: 0;

        li {
            display: block;
            text-align: left;
            max-height: 0;
            overflow: hidden;
            padding-right: 1rem;
            transition: max-height 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

            &.currLang {
                // transform: scaleY(1);
                max-height: 5rem;
                overflow: visible;
            }

            a {
                font-size: 1rem;
                left: 0;
                color: $lightblack!important;

            }
        }
    }
    
&:hover {

        .otherLangs {
            li {
                max-height: 5rem;
                opacity: 1;
            }
        }
    }
}
