@import '../../layout/style/globals';

.categoryCard {
    font-size: 0.875rem;
    display: inline-block;
    color: $blue;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    
    &.large {
        font-size: 1.25rem;
    }

    &.background {
        background-color: $white;
        padding: 1.125rem 1.5rem;
        border-left: 4px solid $blue;
        width: 100%;
        margin-right: 0;
        margin-bottom: 1.875rem;
        text-transform: initial;
        color: $black;
        font-weight: 600;
    }
}