@import '../../layout/style/globals';

.categoryCard {
    font-size: 0.875rem;
    display: inline-block;
    color: $blue;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    
    &.large {
        font-size: 1rem;
    }
}