@import '../../layout/style/globals';

.icon {
    margin-bottom: 1.875rem;
    // width: 5rem;
    // max-width: 5rem;
    width: auto;
    max-width: 100%;
    height: 4rem;
    max-height: 4rem;

    @include mq($until: md) {
        max-width: 8rem;
    }

    &.iconBig {
        width: inherit;
        height: 7rem;
        max-height: 7rem;

        // @include mq($until: md) {
        //     max-width: 3rem;
        //     min-width: 3rem;
        // }
    }

    &.iconImg {
        width: inherit;
        height: 12rem!important;
        max-height: 12rem!important;

        @include mq($until: md) {
            max-width: unset!important;
        }
    }
}

.textWrapper {
    text-align: center;

    &.textLeft {
        text-align: left;
    }
    
    h3{
        word-wrap: break-word;
    }
    
    .text {
        margin-bottom: 1.875rem;
        word-wrap: break-word;
        
        p {
            word-wrap: break-word;
            font-size: 1rem;
        }
    }

    .footnote {
        font-size: 0.8rem;
        font-style: italic;
    }

    .link {
        font-size: 1rem;
    }
}
