@import '../../layout/style/globals';

.icon {
    margin-bottom: 1.875rem;
    // width: 5rem;
    // max-width: 5rem;
    width: auto;
    max-width: 100%;
    height: 3rem;
    max-height: 3rem;

    @include mq($until: md) {
        max-width: 8rem;
    }

    &.iconBig {
        width: inherit;
        height: 7rem;
        max-height: 7rem;

        // @include mq($until: md) {
        //     max-width: 3rem;
        //     min-width: 3rem;
        // }
    }

    &.iconImg {
        width: inherit;
        height: 12rem!important;
        max-height: 12rem!important;

        @include mq($until: md) {
            max-width: unset!important;
        }
    }
}

.checkmark {
    background-image: url("data:image/svg+xml,%3Csvg id='Group_31592' data-name='Group 31592' xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %2342cb91; %7D .cls-2 %7B fill: %23fff; stroke: %23fff; stroke-width: 0.5px; %7D %3C/style%3E%3C/defs%3E%3Ccircle id='Ellipse_1800' data-name='Ellipse 1800' class='cls-1' cx='8' cy='8' r='8'/%3E%3Cg id='checkmark_1_' data-name='checkmark (1)' transform='translate(4 4.667)'%3E%3Cg id='Group_31297' data-name='Group 31297'%3E%3Cpath id='Path_8746' data-name='Path 8746' class='cls-2' d='M7.855,54.012a.421.421,0,0,0-.594.04L2.778,59.175.727,56.988a.421.421,0,0,0-.614.576L2.481,60.09a.422.422,0,0,0,.307.133H2.8a.42.42,0,0,0,.31-.144L7.9,54.606A.421.421,0,0,0,7.855,54.012Z' transform='translate(0.001 -53.907)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");    // display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%; 
    background-size: contain;
    // top: 0.3em;
    // left: 0;
    width: 1.3em;
    height: 1.3em;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.textWrapper {
    text-align: center;

    &.textLeft {
        text-align: left;
    }

    
    
    h3{
        word-wrap: break-word;
    }
    
    .text {
        // margin-bottom: 1.875rem;
        word-wrap: break-word;
        
        p {
            word-wrap: break-word;
            font-size: 1rem;
        }
    }

    .footnote {
        font-size: 0.8rem;
        font-style: italic;
    }

    .link {
        font-size: 1rem;
    }
}
.white {
    color: $white;

    p {
        color: $white;
    }
}
