@import '../../layout/style/globals';

.image {
    border-radius: 20px;
}
@include mq($from: md) {
    .image {
        margin-bottom: 1rem;
    }
}
@include mq($until: md) {
    .textWrapper {
        margin-left: 1rem;
    }
}
.linkedinLink {
    line-height: 0;

    img {
        border-radius: 4px;
    }
}