.title {
    margin-top: 1rem !important;
}

.meta {
    display: flex;
    align-items: center;

    .writerIcon {
        width: 3rem;
        height: 3rem;
        background-color: #c5c5c5;
        border-radius: 50%;
        margin-right: 1rem;
    }
}

.dotPadding {
    padding: 0 0.6rem 0 0.7rem;
}

.topPostButtonText {
    display: table;
    padding: 0.5rem 3rem;
}
