@import '~baseguide/scss/baseguide/02-base/link';

// a {
//     text-decoration: none!important;
// }

// a:before {
//     content: "";
// 	position: absolute;
// 	width: 100%;
// 	height: 1px;
// 	bottom: 0;
// 	left: 0;
// 	background-color: #0087EF;
// 	visibility: hidden;
// 	-webkit-transform: scaleX(0);
// 	transform: scaleX(0);
// 	-webkit-transition: all 0.3s ease-in-out 0s;
//     transition: all 0.3s ease-in-out 0s;
//     display: inline-block!important;
//   }

//   a:hover:before {
//     visibility: visible;
//     -webkit-transform: scaleX(1);
//     transform: scaleX(0.9);
//     display: inline-block;
// }