@import '~baseguide/scss/baseguide/02-base/spacing';

@include loop-breakpoints {

    .justify-between-#{$breakpoint} {
        display: flex;
        justify-content: space-between;
    }
    
    .justify-around-#{$breakpoint} {
        display: flex;
        justify-content: space-around;
    }
   
    .justify-evenly-#{$breakpoint} {
        display: flex;
        justify-content: space-evenly;
    }

}


