@import '../../layout/style/globals';

.icon {
    width: 4.5rem;
    margin: auto;

    @include mq($until: lg) {
        width: 3.5rem;
    }
}

.content {
    padding: 4rem 0;

    @include mq($until: lg) {
        padding: 0rem 0;
    }
}

