@import '../../layout/style/globals';

.icon {
    width: 4.5rem;
    margin: auto;

    @include mq($until: lg) {
        width: 3.5rem;
    }
}

.content {
    padding: 4rem 0;

    @include mq($until: lg) {
        padding: 0rem 0;
    }
}

.jumboCtaImage {
   position: absolute;
   bottom: 0;
   right: 0;
   max-height: 600px;

}

