@import '../../layout/style/globals';

.section {
    position: relative;

    &.withBg {
        padding-top: 12rem;

        @include mq($until: md) {
            padding-top: 7.5rem;
        }
    }
}
