@import '../../../components/layout/style/globals';

.legendGreen, .legendYellow, .legendBlue {
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1rem;
        height: 1rem;
        border-radius: 0.25rem;
    }
}

.legendGreen {
    margin-right: 1rem !important;
    &::before {
        background: linear-gradient(#92E2A1, #00AF21);
    }
}
.legendYellow {
    margin-right: 1rem !important;

    &::before {
        background: linear-gradient(#FFD00D, #FF9517);
    }
}
.legendBlue {
    // margin-left: 2rem !important;

    &::before {
        background: linear-gradient(#72A3FF, #2F76FC);
    }
}

.circleHigh, .circleMedium, .circleLow {

    stroke-width: 6px;
    transition-duration: 0;
    fill: none;
    // stroke-dasharray: 302px;
    // stroke-dashoffset: 263.1714285714288px;
    transition: all 0.2s linear 0s;

    
    animation: circle-chart-fill 2s reverse;
    // transform: rotate(-90deg);
    // transform-origin: center;
}

.circle {
    position: relative;
    border-radius: 50%;
    width: 20rem;
    max-width: 100%;
    height: 20rem;

   
    .circleText {
        position: absolute;
        width: 65%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        
        h2 {
            margin: 0;
        }
        p {
            margin: 0;
        }
    }
}

.circleHigh, .circleMedium, .circleLow {
    
    &:hover {
        opacity: 0.8;
        
    }
}
.card {
    position: relative;
    display: block !important;
    padding: 1.5rem 2rem;
}
.chartText {
    position: absolute;
    pointer-events: none;

}
.header {
    margin-bottom: 5rem;
}
.toolTip {
    position: absolute;
    background-color: $white;
    width: 15rem;
    padding: 1rem;
    transform: translate(-100%, -100%);
    border-radius: 10px;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    z-index: 100;
    pointer-events: none;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        border-top: 0.5rem solid transparent;
        border-bottom: 0.5rem solid transparent;
        border-left: 1rem solid $white;
        transform: translate(50%, 50%) rotate(45deg);
    }

    @include mq($until: md) {
        position: relative;
        display: block;
        left: auto !important;
        top: auto !important;
        margin: auto;
        transform: none;

        &::after {
            content: none;
        }
    }
}
.table {
    color: $mediumblack;
    tbody tr:nth-child(2n+1) {
        background-color: $white;
    }

    th, .table td {
        border-bottom: 0;
        padding-bottom: 1rem;
    }
    tbody tr td:nth-child(1), thead tr th:nth-child(1) {
        padding-left: 0;
    }
    td {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid rgba(227, 224, 224, 0.5);
    }
}
.accBtn {
    background-color: transparent;
    border-width: 0;
    outline: none;
    padding: 0;
    text-align: left;
    position: relative;
    width: 100%;
    padding: 0;
    right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btnCount {
        background-color: $mediumblue;
        padding: 0.25rem 1rem;
        border-radius: 1rem;
        opacity: 1;
        transform: all 0.4s ease;
    }
    span:first-child {
        transition: all 0.4s ease;
    }
    .btnRight {
        display: flex;
        align-items: center;

        img {
            width: 1.5rem;
            margin: 0;
            margin-left: 2.5rem;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            transition: all 0.2s ease;
        }
    }
}
.tableWrap {
    transition: max-height 0.4s ease; 
    .table {
        margin-top: 1rem;
    }
}

.expanded {
    &.card {

        &::after {
            content: '';
            position: absolute;
            bottom: 1.5rem;
            left: 0;
            width: 100%;
            background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 75%, rgba(255,255,255,0) 100%);
            height: 1rem;
        }
    }
    .accBtn {
        // position: absolute;
        // right: 2.5rem;

        img {
            transform: scaleY(-1);
        }
        
        // span:first-child {
        //     opacity: 0;
        // }
        // .btnCount {
        //     opacity: 0;
        // }
    }
}