@import '../../layout/style/globals';

.checkmark {
    background-image: url("data:image/svg+xml,%3Csvg id='Group_31592' data-name='Group 31592' xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %2342cb91; %7D .cls-2 %7B fill: %23fff; stroke: %23fff; stroke-width: 0.5px; %7D %3C/style%3E%3C/defs%3E%3Ccircle id='Ellipse_1800' data-name='Ellipse 1800' class='cls-1' cx='8' cy='8' r='8'/%3E%3Cg id='checkmark_1_' data-name='checkmark (1)' transform='translate(4 4.667)'%3E%3Cg id='Group_31297' data-name='Group 31297'%3E%3Cpath id='Path_8746' data-name='Path 8746' class='cls-2' d='M7.855,54.012a.421.421,0,0,0-.594.04L2.778,59.175.727,56.988a.421.421,0,0,0-.614.576L2.481,60.09a.422.422,0,0,0,.307.133H2.8a.42.42,0,0,0,.31-.144L7.9,54.606A.421.421,0,0,0,7.855,54.012Z' transform='translate(0.001 -53.907)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");    // display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    // top: 0.3em;
    // left: 0;
    width: 1.4em;
    height: 1.4em;
    // position: absolute;

    &.white {
        background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg id='checkmark-verify-interface-symbol-button' transform='translate(-167.333 -174.862)'%3E%3Cg id='_x31__30_' transform='translate(167.333 174.862)'%3E%3Cg id='Group_20457' data-name='Group 20457' transform='translate(0 0)'%3E%3Cpath id='Path_1895' data-name='Path 1895' d='M186.743,171.013a1.209,1.209,0,0,0-1.611.413l-7.541,12.5-4.219-3.724a1.216,1.216,0,0,0-1.666-.052,1.1,1.1,0,0,0-.054,1.6l5.391,4.759a1.216,1.216,0,0,0,1.666.052c.111-.1,5.109-8.411,7.381-12.193l1.086-1.808A1.105,1.105,0,0,0,186.743,171.013Z' transform='translate(-171.333 -170.862)' fill='%23ffffff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
}