@import '../../../components/layout/style/globals';

.services {
    width: 100%;
    overflow: hidden;
}
.line {
    width: 150vw;
    position: absolute;
    left: -50vw;
    height: 4px;
    background-color: $blue;
}



.service {
    margin-top: 5rem;
    p {
        margin-top: 2.5rem;
    }
    .lineDot {
        position: relative;
        width: 4px;
        margin: auto;
        background-color: $blue;

        &::after {
            content: '';
            position: absolute;
            bottom: -8px;
            left: 50%;
            width: 16px;
            height: 16px;
            transform: translateX(-50%);
            border-radius: 50%;
            background-color: $blue;
        }

        .circle {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -100%);
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            max-width: none;
            // background-color: $blue
        }
    }
    &:nth-child(odd) {
        .lineDot {
            height: 4rem;
            margin-top: 3.5rem;

            // .circle {
            //     top: 2.5rem;
            // }
        }
    }
    &:nth-child(even) {
        .lineDot {
            height: 7.5rem;
        }
    }
    
    
}