@import '../../layout/style/globals';

.cards {
    width: 100vw;
    // flex-wrap: nowrap;
    // overflow-x: scroll;
    // overflow: -moz-scrollbars-none;
    // -ms-overflow-style: none;
    // padding: 2rem 0;

    &::-webkit-scrollbar { width: 0 !important }

    &::after {
        content: '';
        width: .1rem;
        flex-shrink: 0;
        flex-grow: 1;
    }

    .quote {
        // width: 440px;
        // max-width: 80%;
        // flex-shrink: 0;
        // flex-grow: 1;
        // margin: 0 1.1rem;
        box-sizing: border-box;
        @include mq($until: lg) {
            display: block;
        }

        img {
            margin: 0;
            margin-right: 1.25rem;
            width: 5rem;

            
        }
        .flag {
            width: 1.5rem;
            height: auto;
            margin-right: 0.5rem;
        }
        p {
            margin: 0;
        }
    }
}
.button {
    margin-top: 1.75rem;
} 
.slider>div>ul {
        transition-timing-function: ease-in-out, ease-in-out !important;

        &>li {
            align-items: stretch !important;
            
        }
}

.quotesCard {
    border-radius: 0!important;
    padding: 3rem 5rem;
    margin: 1rem;

    @include mq($until: md) {
        padding: 2rem 3rem;
    }
 
}

.quotesText {
    font-size: 1.6rem;
    font-weight: 600;

    @include mq($until: md) {
        font-size: 1.2rem;
    }
}

.icon {
    width: 3rem!important;
    height: 3rem!important;
    margin-right: 1.2rem;
}