.cards {
    width: 100vw;
    flex-wrap: nowrap;
    overflow-x: scroll;

    &::after {
        content: '';
        width: 0.1rem;
        flex-shrink: 0;
        flex-grow: 1;
    }

    .quote {
        width: 440px;
        max-width: 80%;
        flex-shrink: 0;
        flex-grow: 1;
        margin: 0 1.1rem;

        img {
            margin: 0;
            margin-right: 1.25rem;
            width: 3rem;
        }
        p {
            margin: 0;
        }
    }
}