.cards {
    width: 100vw;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    padding: 2rem 0;

    &::-webkit-scrollbar { width: 0 !important }

    &::after {
        content: '';
        width: 0.1rem;
        flex-shrink: 0;
        flex-grow: 1;
    }

    .quote {
        width: 440px;
        max-width: 80%;
        flex-shrink: 0;
        flex-grow: 1;
        margin: 0 1.1rem;

        img {
            margin: 0;
            margin-right: 1.25rem;
            width: 3rem;

            
        }
        .flag {
            width: 1.5rem;
            height: auto;
            margin-right: 0.5rem;
        }
        p {
            margin: 0;
        }
    }
}