$button-bg: $black;
$button-hover-bg: $darkblack;
$button-hover-border-color: $darkblack;
$button-border-radius: 5rem;
$button-border-color: $black;
$button-padding-vertical: 0.5rem;
$button-padding-horizontal: 1.5rem;

@import '~baseguide/scss/baseguide/04-components/button';

.btn {
	font-size: 0.875rem;
	font-weight: 600;
	border-radius: 5rem;

	&.btn-full-width {
		width: 100%;
	}
}

.btn-unstyled {
	font-size: 1rem;
	font-weight: 600;
	background-color: transparent;
	border-color: transparent;
	color: inherit;
	border-radius: 5px;
	padding: 0 0.5rem;

	&:hover {
		background-color: $lightgrey;
		color: inherit;
	}

	&:active {
		background-color: $grey;
	}
}

.btn-text {
	font-size: 1rem;
	font-weight: normal;
	background-color: transparent;
	border-color: transparent;
	color: inherit;
	border-radius: 5px;
	padding: 0 0.5rem;

	&:hover, &:active {
		background-color: transparent;
		color: inherit;
	}
}

@include mq($from: md) {
	.btn-large {
		font-size: 1.125rem;
		padding: 1rem 3.25rem;
		border-radius: 6.25rem;
	}
}

.btn-secondary {
	background-color: transparent;
	color: $black;
	border-color: $black;
}

.btn-secondary-white {
	background-color: transparent;
	color: $white;
	border-color: $white;

	&:hover, &:active {
		background-color: rgba($white, 0.4);
		color: $white;
		border-color: $white;
	}
}

.btn-white {
	background-color: $white;
	border-color: $white;
	color: $black;

	&:hover, &:active, &:focus {
		background-color: rgba($white, 0.8);
		// border-color: $white;
		color: $black;
	}
}

.btn-toggle {
	padding: 1rem;
	position: relative;



	span {
		display: none;
	}

	&::before {
		content: "\2303";
		display: inline-block;
		transform: rotate(180deg);
		position: absolute;
		top: 10%;
		// left: 50%;
		// transform: translate(-50%, -50%);
		transition: all 0.2s;
	}

	&.active {
		&::before {
			content: "\2303";
		display: inline-block;
		transform: rotate(0deg);
		position: absolute;
		top: 10%;
		// left: 50%;
		transition: all 0.2s;
		//   transform: translate(-50%, -50%);
		}
	}

}

.btn-toggle-small {
	padding: 1rem;
	position: relative;



	span {
		display: none;
	}

	&::before {
		// content: '+';
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 1px;
		height: 0.5rem;
		background-color: $black;
	}

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 0.5rem;
		height: 1px;
		background-color: $black;
	}

	&.active {
		&::before {
			content: none;
		}
	}
}


.btn-accordion {

	&:hover, &:active {
		border-color:rgba(0, 0, 0, 0)!important;
		background-color: rgba(0, 0, 0, 0)!important;
	}
	&:focus {
		border-color:rgba(0, 0, 0, 0)!important;
		background-color: rgba(0, 0, 0, 0)!important;
	}
}
