$button-bg: $blue;
$button-hover-bg: darken($blue, 20);
$button-border-radius: 5px;
$button-border-color: $blue;
$button-padding-vertical: 0.5rem;
$button-padding-horizontal: 1.5rem;

@import '~baseguide/scss/baseguide/04-components/button';

.btn {
	font-size: 1rem;
	font-weight: 600;
	border-radius: 5rem;
}

@include mq($from: md) {
	.btn-large {
		font-size: 1.2rem;
		padding: 1rem 1.8rem;
	}
}
.btn-submit-inline {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.btn-secondary {
	background-color: transparent;
	color: $black;
	border-color: $black;
}

.btn-secondary-white {
	background-color: transparent;
	color: $white;
	border-color: $white;

	&:hover, &:active, &:focus {
		background-color: rgba($white, 0.4);
		color: $white;
		border-color: $white;
	}
}

.btn-white {
	background-color: $white;
	border-color: $white;
	color: $blue;

	&:hover, &:active {
		background-color: rgba($white, 0.8);
		// border-color: $white;
		color: $blue;
	}
}

.btn-select {
	border-radius: 5px;
	background-color: $white;
	border-color: $blue;
	color: $blue;
	padding: 1rem 4rem;
	margin: 0 0.25rem;

	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
	&.active, &:hover, &:active {
		background-color: lighten($blue, 40);
		color: $blue;
		border-color: $blue;
	}
}

.btn-toggle {
	padding: 1rem;
	position: relative;



	span {
		display: none;
	}

	&::before {
		content: '+';
		position: absolute;
		top: 48%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&.active {
		&::before {
			content: '-';
		}
	}

}
