$button-bg: $blue;
$button-hover-bg: darken($blue, 20);
$button-border-radius: 5rem;
$button-border-color: $blue;
$button-padding-vertical: 0.5rem;
$button-padding-horizontal: 1.5rem;

@import '~baseguide/scss/baseguide/04-components/button';

.btn {
	font-size: 0.875rem;
	font-weight: 600;
	border-radius: 5rem;
}

@include mq($from: md) {
	.btn-large {
		font-size: 1.125rem;
		padding: 1rem 3.25rem;
		border-radius: 6.25rem;
	}
}

.btn-secondary {
	background-color: transparent;
	color: $blue;
	border-color: $blue;
}

.btn-secondary-white {
	background-color: transparent;
	color: $white;
	border-color: $white;

	&:hover, &:active {
		background-color: rgba($white, 0.4);
		color: $white;
		border-color: $white;
	}
}

.btn-white {
	background-color: $white;
	border-color: $white;
	color: $blue;

	&:hover, &:active {
		background-color: rgba($white, 0.8);
		// border-color: $white;
		color: $blue;
	}
}

.btn-toggle {
	padding: 1rem;
	position: relative;



	span {
		display: none;
	}

	&::before {
		content: '+';
		position: absolute;
		top: 48%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&.active {
		&::before {
			content: '-';
		}
	}

}
