.card {
	padding: 2.5rem;
	text-align: center;
	position: relative;
	width: 100%;
	margin-bottom: 2rem;

	&.card-visible { 
		border: 1px solid lighten($grey, 10);
		@include box-shadow;
		background-color: white;
		transition-duration: 0.4s;
		border-radius: 10px;
	}

	img {
		width: 5rem;
		max-width: 5rem;
		margin-bottom: 1rem;

		&.three-up-icon {
			width: auto;
			max-width: 100%;
			height: 3rem;
			max-height: 3rem;

			@include mq($until: md) {
				max-width: 8rem;
			}
		}
	}

	.card-img-large {
		width: 11.25rem;
		max-width: 11.25rem;
		margin-bottom: 2.5rem;
		margin-left: auto;
		margin-right: auto;

		img {
			max-width: 100%;
		}
	}

	.card-img-full {
		width: 100%;
		max-width: 100%;

		img {
			max-width: 100%;
		}
	}

	@include mq($until: md) {
		display: flex;
		align-items: flex-start;
		padding: 1.25rem;
		margin-bottom: 1.25rem;

		img {
			width: 3rem;
			max-width: 3rem;
			margin-right: 1rem;
		}
		.card-img-large {
			width: 5rem;
			max-width: 5rem;
			margin-right: 1rem;
			margin-bottom: 0;

			img {
				max-width: 100%;
			}
		}


	}
}

