.card {
	border: 1px solid lighten($grey, 10);
	border-radius: 10px;
	padding: 2.5rem;
	text-align: center;
	position: relative;
	background-color: white;
	width: 100%;
	margin-bottom: 2rem;

	img {
		width: 5rem;
		max-width: 5rem;
		margin-bottom: 1rem;

		&.three-up-icon {
			width: auto;
			max-width: 100%;
			height: 3rem;
			max-height: 3rem;

			@include mq($until: md) {
				max-width: 8rem;
			}

		}

		&.card-img-large {
			width: 11.25rem;
			max-width: 11.25rem;
			margin-bottom: 2.5rem;
		}

		&.social-icon {
			width: 1.5rem;
			max-width: 1.5rem;
			margin: 0;
		}
	}

	&.people {
		flex-direction: column;

		.people-description {
			transition: height 0.4s ease;
		}

		@include mq($until: md) {

			.people-description {
				max-height: 0;
				overflow: hidden;
				margin: 0;
				opacity: 0;
				transition: all 0.4s ease;
			}

			&.expand {
				.people-description {
					margin: 1.5rem 0;
					opacity: 1;
				}
			}

			.card-header-wrapper {
				display: flex;
				width: 100%;
				align-items: center;
				flex-direction: row;
				justify-content: flex-start;
				margin-bottom: 1.25rem;
				position: relative;

				img {
					margin-bottom: 0;
				}
				&>div {
					width: 100%;
				}
				.social-icon {
					position: absolute;
					right: 0;
					top: 0;
				}
			}
		}

		@include mq($until: md) {
			button {
				width: 100%;
			}
		}
	}
	@include mq($until: md) {
		display: flex;
		align-items: flex-start;
		padding: 1.25rem;
		margin-bottom: 1.25rem;

		img {
			width: 3rem;
			max-width: 3rem;
			margin-right: 1rem;

			&.card-img-large {
				width: 5rem;
				max-width: 5rem;
				margin-right: 1rem;
			}
		}


	}
}
