footer {
	border-top: 1px solid $mediumgrey;
	// padding-top: 6rem;
	background-size: 100% 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;

	.footer-bottom {
		border-top: 1px solid $mediumgrey;
		padding: 2.5rem 0;
	}
	.footer-image {
		max-width: 80%;
		margin: 1rem 0;
	}
	.social-link {
		margin-left: 1rem;

		&:hover {
			text-decoration: none;
		}
	}
	@include mq($until: md) {
		.menu li a{
			padding: 0.5rem 0;
			display: block;
		}
	}

	&.footer-inverted {
		border-top: 1px solid #242424;

		.footer-bottom {
			border-top: 1px solid #242424;
		}
	}
}

.footer-logo {
	width: 8rem;
}

@include mq($from: xs) {
	.googlePartnerLogo {
		margin-left: -2px;
	}
}
@include mq($from: sm) {
	.googlePartnerLogo {
		transform: scale(0.8);
		margin-left: -11.6%;
	}
}
@include mq($from: md) {
	.googlePartnerLogo {
		transform: scale(0.9);
		margin-left: -6.2%;
	}
}

@include mq($from: lg) {
	.googlePartnerLogo {
		transform: scale(0.65);
		margin-left: -22.5%;
	}
}

@include mq($from: xl) {
	.googlePartnerLogo {
		transform: scale(.85);
		margin-left: -9%;
	}
}

