@import '~baseguide/scss/baseguide/04-components/form-custom';

.input-inline {
    height: 100%;
    // border-radius: 5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
    border-color: $grey;
    // width: 15rem;
}
