nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	max-height: 100vh;
	z-index: 200;
	background-color: none;
	padding: 0.5rem 0;
	border-bottom: none;
	transition: 0.4s ease-in-out;
	border-bottom: 1px solid #ffffff00;

	&.navbar-border {
		transition: 0.4s ease-in-out;
		background-color: $white;
		// border-bottom: 1px solid $mediumgrey;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

	}

	@include mq($until: lg) {
		padding: 1.5rem 0;

		&::before {
			content: '';
			z-index: 30;
			background-color: $white;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			transition: background-color 0.4s 0.4s ease;
		}

		&.closed::before {
			background-color: transparent;
			transition: none;
		}

		.navbar-mobile {
			z-index: 30;

			.brand {
				z-index: 10;
				position: relative;
			}
		}

		&.closed {
			height: auto;

			.main-menu-inner {
				transform: translateX(100%);
			}
		}
		// &.opened {
		// 	.main-menu-inner {
		// 		transition: transform 0.4s ease;
		// 	}
		// }
	}
	.main-menu-inner {
		position: static;
		display: flex;
		flex: auto;
		justify-content: space-between;
		align-items: center;
		transform: none;

		@include mq($until: lg) {
			overflow-y: scroll;
		}

		@include mq($from: lg) {
			& .list-inline>li {
				margin-left: 2rem;
				padding: 1rem 0;
			}
		}

		&>ul {
			margin-bottom: 0;
		}

		@include mq($until: lg) {
			height: 100%;
			position: fixed;
			top: 0;
			bottom: 0;
			background-color: $white;
			padding-top: 5rem;
			padding-bottom: 2rem;
			display: block;
			transform: translateX(0);
		}

	}
	.brand img {
		width: 6rem;
	}
	.brand a {
		line-height: 0;
	}

	li {

		a {
			font-size: 1rem;
			color: rgba($white, 0.6);

			&.has-submenu::after {
				border-color: $blue !important;
			}
			
			&.active, &:hover, &:active, &:focus {
				color: $blue;
				text-decoration: none;

				

			}

			@include mq($until: lg) {
				color: $black;
			}
			@include mq($from: lg) {
				&.has-submenu::after {
					border-color: rgba($white, 0.7) !important;
				}
				&.active, &:hover, &:active, &:focus {
					color: $white;
					text-decoration: none;

					&.has-submenu::after {
						border-color: $white;
					}
					
				}
				&.submenu-title {
					&:hover, &:active, &:focus {
						color: $black;
					}
				}
			}
			

			
			&.has-submenu {
				padding-right: 1em;
				position: relative;

				// @include mq($until: lg) {
					&::after {
						content: '';
						position: absolute;
						right: 0.1em;
						top: 50%;
						width: 0.5em;
						height: 0.5em;
						border-width: 0;
						transform: rotate(45deg) translate(-50%, -50%);
						border-style: solid;
						border-right-width: 0.1em;
						border-bottom-width: 0.1em;
						transition: transform 0.1s ease;

						@include mq($from: lg) {
							border-color: $white;
						}
					}
				// }
			}
		}
		
		@include mq($from: lg) {
			.subsubmenu li>a {
				color: $blue;
				font-size: 0.8rem;
			}
			&:hover {
				.has-submenu {
					&::after {
						transform: rotate(-135deg) translate(10%, 10%);
					}
				}
			}
		}
		&.expand {
			.has-submenu {
				&::after {
					transform: rotate(-135deg) translate(10%, 10%);
				}
			}
		}

	}
	@include mq($from: lg) {
		li>a.has-submenu::after {
			&.active, &:hover, &:active, &:focus {
				border-color: $black !important;
			}
		}
	}
	.main-menu-cta {
		z-index: 30;

		a:first-child {
			margin-right: 0.5rem;
		}

		// .btn {
		// 	padding: 0.4em 1.2em;
		// }
	}
	.menu-toggle {
		display: none;
	}

	/******* Submenu *******/

	.submenu-parent {
		position: relative;

		.submenu {
			position: absolute;
			overflow: hidden;
			visibility: hidden;
			
			
			.submenu-footer {
				padding: 2rem 0;
			}
			@include mq($from: lg) {
				.submenu-footer {
					padding: 2.5rem;
					background-color: $lightgrey;
					border-bottom-right-radius: 10px;
					border-bottom-left-radius: 10px;
				}

				@include box-shadow-hover;
				@include borderradius;
				overflow: visible;
				left: 50%;
				background-color: $white;
				top: 3.5rem;
				transform: scaleY(0.4) translateX(-50%);
				opacity: 0;
				//transition: all 0.2s ease;
				transform-origin: top;
				border: 1px solid $lightgrey;

				.submenu-triangle {
					content: '';
					position: absolute;
					width: 1rem;
					height: 1rem;
					top: -0.2rem;
					left: 50%;
					transform: rotate(45deg) translateX(-50%);
					background-color: $white;
					border-left: 1px solid $lightgrey;
					border-top: 1px solid $lightgrey;
					// @include box-shadow-hover;
				}
			}

			// &::before {
			// 	content: '';
			// 	position: absolute;
			// 	width: 100%;
			// 	height: 100%;
			// 	transform-origin: top;
			// 	transform: scaleY(0);
			// 	background-color: $white;
			// 	transition: all 0.4s ease;

			// }

			&>.submenu-inner {
				padding-top: 3.125rem;
				padding-bottom: 2rem;
				transform: translateY(-2rem);
				opacity: 0;
				transition: all 0.2s ease;
				transition-delay: 0s;

				@include mq($from: lg) {
					display: flex;
					padding-left: 2.5rem;
					padding-right: 2.5rem;

					.has-subsubmenu {
						width: 12rem;
						padding: 0 1rem;
					}
				}
				

				@include mq($until: lg) {
					padding-top: 0;
					padding-bottom: 0;
					transform: none;
					transition: none;
					opacity: 1;
				}

				
			}

			.submenu-icon {
				width: 3.125rem;
				display: block;
				clear: both;
				margin-bottom: 1rem;
			}

			.submenu-title {
				padding-bottom: 1rem;
				display: block;
			}

			@include mq($until: lg) {
				overflow:hidden;
				position: relative;
				top: 1rem;
				margin-left: -1.1rem;
				margin-right: -1.1rem;
				width: 100vw;
				padding: 0 1.1rem;
				max-height: 0;
				visibility: visible;
				transition: max-height 0.4s ease;

				.col {

					border-bottom: 1px solid $mediumgrey;

					&.expanded {
						padding-bottom: 0;
					}

					&:last-child {
						border-bottom: none;
					}
				}

				.submenu-title {
					display: flex;
					align-items: center;
					padding: 1rem 0;

					.submenu-icon {
						margin: 0;
						margin-right: 1rem;
					}
				}
				.has-subsubmenu {

					&>a {
						position: relative;

						&::after {
							content: '';
							position: absolute;
							right: 0.1em;
							top: 50%;
							width: 0.5em;
							height: 0.5em;
							border-width: 0;
							transform: rotate(-45deg) translate(50%, -50%);
							border-color: $darkgrey;
							border-style: solid;
							border-right-width: 0.1em;
							border-bottom-width: 0.1em;
							transition: transform 0.1s ease;
						}
					}

					&.expanded>a::after {
						transform: rotate(45deg) translate(-50%,-50%);
					}
				}
				.subsubmenu {
					max-height: 0;
					overflow: hidden;
					transition: max-height 0.4s ease;
					background-color: $lightgrey;
					padding: 0 1.1rem;
					padding-left: 5.25rem;
					margin: 0 -1.1rem;
					width: 100vw;
				}
			}
		}
		@include mq($from: lg) {
			&:hover {
				.submenu {
					visibility: visible;
					transform: scaleY(1) translateX(-50%);
					opacity: 1;

					// &::before {
					// 	transform: scaleY(1);
					// }

					&>.submenu-inner {
						opacity: 1;
						transform: translateY(0);
						transition-delay: 0.1s;
					}
				}
			}
		}
	}

	&.hovered, &.unhovered {
		.submenu {
			transition: all 0.4s ease;
		}
	}
	.expand {
		.submenu {
			@include mq($until: lg) {
				border-top: 1px solid $mediumgrey;
				visibility: visible;
				// margin-top: 1rem;

				.submenu-inner {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
	}


	@include mq($until: lg) {
		
/******* Toggle *******/
		.menu-toggle {
			background: transparent;
			border: none;
			display: block;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			z-index: 999;
			padding-right: 0.975rem;

			&:hover, &:active, &:focus {
				background: transparent;
				border: none;
			}
			.icon-bar {
				display: block;
				height: 3px;
				border-radius: 18px;
				width: 1.5rem;
				transition: all 0.2s ease 0.2s;
				margin-top: 4px;
			}
				.top-bar {
					transform: rotate(45deg);
					transform-origin: 20% 100%;
				}
				.bottom-bar {
					transform: rotate(-45deg);
					transform-origin: 5% -60%;
				}
				.middle-bar {
					opacity: 0;
					width: 1rem;
					margin-left: 0.5rem;
				}
			
		}
		&.closed .menu-toggle .icon-bar {
			background-color: $white;
		}
		&.navbar-border .menu-toggle .icon-bar, .menu-toggle .icon-bar {
			background-color: $blue;
		}
		
		.list-inline {
			display: block;
			margin: auto;
			text-align: left;

			li {
				padding: 1rem 0;
				margin: 0;
			}
		}
		.main-menu-cta {
			text-align: center;
			z-index: 30;

			.btn {
				width: 100%;
				margin: 0.5rem 0;
			}
		}
		&.touched .main-menu-inner, .main-menu-cta {
			transition: all 0.4s ease;
			opacity: 1;
			z-index: 20;
		}



/******* Toggle *******/
		&.closed {
			.menu-toggle {
				.top-bar {
					transform: rotate(0);
				}
				.bottom-bar {
					transform: rotate(0);
				}
				.bottom-bar {
					margin-bottom: 4px;
				}
				.middle-bar {
					opacity: 1;
				}
			}
		}
	}
}

.menu-items {

	.has-submenu:after {
		border-color: $black!important;
	}

	&>ul>li>a {
		color: black;
		transition: border-color 0.4s ease-in-out;
	}	
}

.invert {

	>a>img {
		-webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
		filter: invert(100%);
		transition: 0.4s ease-in-out;
	}
}

// .logo-mobile {
// 	@include mq($until: lg) {
// 		-webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
// 		filter: invert(100%);
// 		transition: 0.4s ease-in-out;
// 	}
// }

.btn-right {
	@include mq($until: lg) {
			background-color: $blue;
			border-color: $blue;
			color: $white;
		}
	}
.btn-left {
	@include mq($until: lg) {
			background-color: none;
			border-color: $black;
			color: $black;
		}
	}


