.section, .section-inner {
	position: relative;
    padding: 5rem 0;
    
    &.bg-splash {
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }

	@include mq($until: md) {
		padding: 2.5rem 0;
	}
}