@import '../../layout/style/globals';

.card {
    padding-bottom: 0;
    overflow: hidden;
    display: block !important;
    padding-top: 5rem;

    &::before {
        content: '';
        background-color: #F3F7FA;
        width: 100%;
        height: 2.5rem;
        position: absolute;
        top: 0;
        left: 0;
    }

    &::after {
        content: '';
        background-color: red;
        height: 0.6rem;
        width: 0.6rem;
        border-radius: 50%;
        position: absolute;
        top: 0.95rem;
        left: 1rem;
        box-shadow: 1.1rem 0 0 0 #FFBC2E, 2.2rem 0 0 0 #27CA41;
    }

    .searchBar {
        position: relative;
        border: 1px solid rgba(0, 45, 79, 0.1);
        border-radius: 10rem;
        width: 100%;
        padding: 0.6rem 1.375rem;
        margin-bottom: 3rem;
    
        &::after {
            content: '';
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 1rem;
            height: 1rem;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%230087ef;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M20.68,18.217l-4.93-4.951a7.884,7.884,0,0,0,1.962-5.191A8.233,8.233,0,0,0,9.348,0,8.233,8.233,0,0,0,.984,8.075,8.233,8.233,0,0,0,9.348,16.15a8.48,8.48,0,0,0,4.792-1.461l4.968,4.988a1.119,1.119,0,0,0,1.542.029A1.029,1.029,0,0,0,20.68,18.217ZM9.348,2.107A6.085,6.085,0,0,1,15.53,8.075a6.085,6.085,0,0,1-6.182,5.968A6.085,6.085,0,0,1,3.166,8.075,6.085,6.085,0,0,1,9.348,2.107Z' transform='translate(-0.984)'/%3E%3C/svg%3E");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .cardInner {
        margin-bottom: -0.5rem;
        padding: 1rem;
        padding-top: 0;
        overflow: hidden;

        .map {
            width: calc(100% + 2rem);
            margin-left: -1rem;
        }

        .btns {
            a {
                padding: 0.5rem 1.5rem;
                background-color: #F4F4F4;
                border: 1px solid #DADADA;
                color: $black;
                font-size: 0.8rem;
                font-weight: 600;
                border-radius: 5px;
                margin: 0 0.25rem;

                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .reviews {
            margin-bottom: 1rem; 
            .orange {
                color: #E7711B;
            }
            .blue {
                color: #2462D3;
            }

            .stars {
                margin: 0 1rem 0 0.5rem;
                display: flex;

                .star {
                    width: 1rem;
                    height: 1rem;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.777' height='15' viewBox='0 0 15.777 15'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23e7711b;fill-rule:evenodd;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-42.213 -61.121)'%3E%3Cg transform='translate(42.213 61.121)'%3E%3Cpath class='a' d='M52.33,66.314c7.431.373,7.182-.435,1.366,4.243,1.946,7.182,2.649,6.686-3.6,2.608-6.23,4.078-5.526,4.574-3.581-2.608-5.816-4.678-6.085-3.871,1.366-4.243C50.509,59.442,49.66,59.339,52.33,66.314Z' transform='translate(-42.213 -61.121)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }

        .cat {
            color: #878787;
        }

        .meta {
            p {
                margin-bottom: 0.5rem;
            }

            .green {
                color: #198039;
            }

            .arrowDown {
                display: inline-block;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.18' height='6.707' viewBox='0 0 10.18 6.707'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill-rule:evenodd;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(6.999 -1) rotate(90)'%3E%3Cg transform='translate(1 -3.181)'%3E%3Cpath class='a' d='M0,10.18,6.707,5.09,0,0Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                background-size: 0.5rem;
                background-position: right center;
                background-repeat: no-repeat;
                padding-right: 1rem;
            }
        }
    }
}