@import '../../layout/style/globals';

.card {
    padding-bottom: 0;
    overflow: hidden;
    display: block !important;

    .cardInner {
        margin-bottom: -0.5rem;
        padding: 1rem;
        padding-top: 0;
        overflow: hidden;

        .map {
            width: calc(100% + 2rem);
            margin-left: -1rem;
        }

        .btns {
            a {
                padding: 0.5rem 1.5rem;
                background-color: #F4F4F4;
                border: 1px solid #DADADA;
                color: $black;
                font-size: 0.8rem;
                font-weight: 600;
                border-radius: 5px;
                margin: 0 0.25rem;

                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .reviews {
            margin-bottom: 1rem; 
            .orange {
                color: #E7711B;
            }
            .blue {
                color: #2462D3;
            }

            .stars {
                margin: 0 1rem 0 0.5rem;
                display: flex;

                .star {
                    width: 1rem;
                    height: 1rem;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.777' height='15' viewBox='0 0 15.777 15'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23e7711b;fill-rule:evenodd;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-42.213 -61.121)'%3E%3Cg transform='translate(42.213 61.121)'%3E%3Cpath class='a' d='M52.33,66.314c7.431.373,7.182-.435,1.366,4.243,1.946,7.182,2.649,6.686-3.6,2.608-6.23,4.078-5.526,4.574-3.581-2.608-5.816-4.678-6.085-3.871,1.366-4.243C50.509,59.442,49.66,59.339,52.33,66.314Z' transform='translate(-42.213 -61.121)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }

        .cat {
            color: #878787;
        }

        .meta {
            p {
                margin-bottom: 0.5rem;
            }

            .green {
                color: #198039;
            }

            .arrowDown {
                display: inline-block;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.18' height='6.707' viewBox='0 0 10.18 6.707'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill-rule:evenodd;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(6.999 -1) rotate(90)'%3E%3Cg transform='translate(1 -3.181)'%3E%3Cpath class='a' d='M0,10.18,6.707,5.09,0,0Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                background-size: 0.5rem;
                background-position: right center;
                background-repeat: no-repeat;
                padding-right: 1rem;
            }
        }
    }
}