@import '../../layout/style/globals';

.image {
    margin-bottom: 1.875rem;
}
.gallery {
    margin-top: 0.9375rem;
    margin-bottom: 1.875rem;
}
.btnLast {
    margin-left: 1rem;
}

.cards {
    width: 100vw;
    padding: 0 0.5rem 0 0.5rem;

    &::-webkit-scrollbar { width: 0 !important }
}

