@import '../../layout/style/globals';

.section {
    position: relative;
    overflow: hidden;
    padding: 7.5rem 0;

    &.noBottomPadding {
        padding-bottom: 0;
    }   
    @include mq($until: md) {
        &.paddingBottomXsSm {
            padding-bottom: 7.5rem;
        }
    }
    .backgroundGradiant {
        @include gradiant-background-faded;
        position: absolute;
        height: 25rem;
        bottom: 15rem;
        width: 100%;

        &.gradiantAtBottom {
            bottom: 0;
        }
    }
    .bottomBgColor {
        position: absolute;
        height: 15rem;
        bottom: 0;
        width: 100%;
    }

    &.backgroundImageSection {
        padding: 20vw 0;

        .backgroundImage {
            min-height: auto !important;
            width: 110%;
            max-width: none !important;
            
        }

        @include mq($until: xl) {
            padding: 7.5rem 0;
            .backgroundImage {
                opacity: 0.3;
                width: 150%;
                max-width: none !important;
            }
        } 
    }
}