@import '../../../components/layout/style/globals';

.pricingHeadline {
    font-weight: normal;
    margin-bottom: 2.5rem;
}
.list {
    display: inline-block;
}
.circle {
    position: relative;
    border-radius: 50%;
    width: 10rem;
    max-width: 100%;
    height: 10rem;
    margin: auto;
    padding: 15px;
    margin-bottom: 2.5rem;

    &.greenCircle {
        background: linear-gradient(to right, #92E2A1, #00AF21);
    }

    &.greyCircle {
        background: $lightgrey;
    }

    .innerCircle {
        position: relative;
        border-radius: 50%;
        background-color: $white;
        width: 100%;
        height: 100%;
        z-index: 5;

        .circleText {
            position: absolute;
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            
            h3 {
                margin: 0;
            }
            p {
                font-size: 0.8rem;
                margin: 0;
            }
        }
    }
}

.currentCard {
    margin-right: -5rem;
}