// Color Classes
@each $color_name, $color in $colors {
	.bg-#{$color_name} {
		background-color: $color;
	}

	.text-#{$color_name} {
		color: $color;
	}

}

.bg-gradiant-faded {
	@include gradiant-background-faded;
}
.border-bottom-gradiant {
	@include gradiant-bottom-border;
}