@import '~baseguide/scss/baseguide/05-utilities/space';

.text-margin {
	margin: 60px;
}
@include mq($from: xl) {
	.text-padding {
		padding: 0 3.75rem;
	}
}

.margin-bottom {
	margin-bottom: 50px;
}
.no-mb {
	margin-bottom: 0;
}