@import '~baseguide/scss/baseguide/05-utilities/space';

.text-margin {
	margin: 60px;
}
@include mq($from: xl) {
	.text-padding {
		padding: 0 3.75rem;
	}
}

@include loop-breakpoints {

	.space-big-#{$breakpoint}-up {
		margin-bottom: 3.75rem;
	}
	.space-small-#{$breakpoint}-up {
		margin-bottom: 0.9375rem;
	}
	.space-top-#{$breakpoint}-up {
		margin-top: 1.875rem;
	}
	.no-space-#{$breakpoint}-up {
		margin: 0;
	}
}
.margin-bottom {
	margin-bottom: 50px;
}
.margin-top {
	margin-top: 2rem;
}
.no-mb {
	margin-bottom: 0;
}
.no-mt {
	margin-top: 0;
}
.space-big {
	margin-bottom: 4rem;
}

.space-bottom-not-last {
	margin-bottom: 1.875rem!important;
}

.space-bottom-not-last:last-child {
	margin-bottom: 0!important;
}
