@import '~baseguide/scss/baseguide/05-utilities/text';

@include loop-breakpoints {

  .text-center-#{$breakpoint} {
		text-align: center!important;
	}
	.text-left-#{$breakpoint} {
		text-align: left!important;
	}
	.text-right-#{$breakpoint} {
		text-align: right!important;
	}
}
.text-bold, strong {
	font-weight: 600;
}
.text-italic {
	font-style: italic;
}
.text-xs-small {
	font-size: 0.8rem;
}
.text-normal {
	font-weight: 400;
}
p {
	// color: $lightblack;
	white-space: pre-line;
}
// li {
// 	color: $lightblack;
// }

p, a {
	font-size: 1.2rem;

	&.small {
		font-size: 1rem !important;
	}
}

.small p, .small a, .small {
	font-size: 1rem !important;
}