.icon {
    height: 8.25rem;
    width: auto !important;
    max-width: 100% !important;
    margin: auto !important;
    display: block;
    // margin: 1.8375rem auto;
    margin-top: 2.5rem !important;
    margin-bottom: 0 !important;
}
.button  {
    width: 100%;
}