@import '../../../layout/style/globals';

.video {
    position: relative;
    padding: 0.75rem;
    padding-left: 2.5rem;
    border-radius: 0.3125rem;
    width: 100%;
    border: none;
    background: transparent;

    &:focus {
        outline: none;
    }
    
    p {
        margin: 0;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0.75rem;
        top: 50%;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        width: 1rem;
        height: 1rem;
        background-position: center;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='12' viewBox='0 0 10 12'%3E%3Cpath d='M305.75,291.5h-.417V290a3.352,3.352,0,0,0-6.667,0v1.5h-.417a1.194,1.194,0,0,0-1.25,1.125v5.25A1.194,1.194,0,0,0,298.25,299h7.5a1.194,1.194,0,0,0,1.25-1.125v-5.25A1.194,1.194,0,0,0,305.75,291.5Zm-1.528,0h-4.444V290a2.234,2.234,0,0,1,4.444,0Z' transform='translate(-297 -287)' fill='%23a7a7a7'/%3E%3C/svg%3E");
    }

    &.videoPlay {
        color: $white;
        &:before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='12' viewBox='0 0 10 12'%3E%3Cpath d='M5.143,1.429a1,1,0,0,1,1.715,0l4.234,7.056A1,1,0,0,1,10.234,10H1.766A1,1,0,0,1,.909,8.486Z' transform='translate(10) rotate(90)' fill='%23000'/%3E%3C/svg%3E");
        }
    }
    &.light {
        
        &.videoPlay:before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='12' viewBox='0 0 10 12'%3E%3Cpath d='M5.143,1.429a1,1,0,0,1,1.715,0l4.234,7.056A1,1,0,0,1,10.234,10H1.766A1,1,0,0,1,.909,8.486Z' transform='translate(10) rotate(90)' fill='%23fff'/%3E%3C/svg%3E");
        }
    }

    &.active {
        background-color: #2C2C2C;
        color: $black;

        &.light {
            color: $white;
        }
    }

}