@import '../../../components/layout/style/globals';

.card {
    overflow: hidden;
    padding: 0;
    display: block !important;

    .postImg {

        img {
            width: 100% !important;
            max-width: 100% !important;
        }
    }

    .textWrapper {
        padding: 2.5rem;
    }
    .categoryCard {
        font-size: 0.75rem;
        display: inline-block;
        padding: 0.25rem 0.5rem;
        background-color: $lightblue;
        color: $blue;
        border-radius: 1rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        
    }

}