@import '../../../components/layout/style/globals';

.card {
    overflow: hidden;
    padding: 0 !important;
    display: block !important;

    .postImg {

        img {
            width: 100% !important;
            max-width: 100% !important;
        }
    }

    .textWrapper {
        padding: 2.5rem;
    }

}