@import '../../style/globals';

.subMenu {
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.4s ease;
    z-index: 10;
    
    

    @include mq($from: lg) {

        @include box-shadow-hover;
        @include borderradius;
        overflow: visible;
        left: 50%;
        background-color: $white;
        top: 3.5rem;
        transform: scaleY(0.4) translateX(-50%);
        opacity: 0;
        //transition: all 0.2s ease;
        transform-origin: top;
        border: 1px solid $lightgrey;
        

        .subMenuTriangle {
            content: '';
            position: absolute;
            width: 1rem;
            height: 1rem;
            top: -0.2rem;
            left: 50%;
            transform: rotate(45deg) translateX(-50%);
            background-color: $white;
            border-left: 1px solid $lightgrey;
            border-top: 1px solid $lightgrey;
        }
    }

    @include mq($until: lg) {
        .subMenuFooter {
            display: none;
        }
    }

    &>.subMenuInner {
        padding-top: 3.125rem;
        padding-bottom: 2rem;
        transform: translateY(-2rem);
        opacity: 0;
        transition: all 0.2s ease;
        transition-delay: 0s;

        @include mq($from: lg) {
            display: flex;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }

        @include mq($until: lg) {
            padding-top: 0;
            padding-bottom: 0;
            transform: none;
            transition: none;
            opacity: 1;

            h3 {
                font-size: 1.5rem !important;
            }
        }		
    }


    @include mq($until: lg) {
        position: absolute;
        margin-left: -1.1rem;
        margin-right: -1.1rem;
        width: 100vw;
        min-height: 100vw;
        padding: 0 1.1rem;
        visibility: visible;
        transition: transform 0.4s ease;
        transform: translate(100vw, 0);
        background-color: $white;
        padding-top: 2rem;
        top: 4.5rem;

        .subMenuTitle {
            display: flex;
            align-items: center;
            padding: 1rem 0;

            .subMenuIcon {
                margin: 0;
                margin-right: 1rem;
            }
        }
    }

    
}

@include mq($until: lg) {
    .subMenu.expand {
        transform: translate(0, 0);
    }
}


    .submenu {
        &.hovered, &.unhovered {
            transition: all 0.4s ease;
        }
    }


@include mq($from: lg) {
    &:hover {
        .subMenu.show {
            visibility: visible;
            transform: scaleY(1) translateX(-50%);
            opacity: 1;
            


            &>.subMenuInner {
                transition: all 0.4s ease;
                opacity: 1;
                transform: translateY(0);
                transition-delay: 0.1s;
            }
        }
    }
}

.borderLeft {
    border-left: solid 1px $grey;
    padding-left: 2.2rem;

    @include mq($until: lg) {
        border-left: none;
        border-top: solid 1px $grey;
        padding-left: 0;
        margin-top: 1.875rem;
        padding-top: 1.875rem;
    }
}

.columnRightSpacing {
    padding-bottom: 3.4rem;
}


