@import '../../components/layout/style/globals';

.header {
    p, h1, h2, h3, h4, h5, h6 {
        color: $white;
    }
    min-height: 30rem;

    .category {
        display: inline-block;
        padding: 0.25rem 0.75rem;
        border: 1px solid $white;
        color: $white;
        margin: 0;
        margin-right: 0.5rem;
        border-radius: 2rem;
        font-size: 1rem;
    }
    .date {
        margin-bottom: 0;
    }
    h1 {
        margin-top: 0.5rem;
    }
}

.quote {
    margin: 5rem 0;
    
    blockquote {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1;
    }
    .quoteElement {
        width: 5rem;
        height: 5rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27.759' height='18.311' viewBox='0 0 27.759 18.311'%3E%3Cpath d='M2.014-39.185a10.515,10.515,0,0,1,2.618-6.7,16.225,16.225,0,0,1,5.841-4.687l.7,1.465a15.882,15.882,0,0,0-4.376,3.644A6.887,6.887,0,0,0,4.98-41.052a.793.793,0,0,0,.275.659,1.108,1.108,0,0,0,.714.22q2.38-.256,2.563-.256a5.021,5.021,0,0,1,2.618.879,3.257,3.257,0,0,1,1.41,3,4.271,4.271,0,0,1-1.172,3.04,4.355,4.355,0,0,1-3.333,1.245,5.543,5.543,0,0,1-4.285-1.959A7.151,7.151,0,0,1,2.014-39.185Zm17.212.293a10.754,10.754,0,0,1,2.655-7.086,16.579,16.579,0,0,1,5.8-4.6l.7,1.465A16.2,16.2,0,0,0,24.005-45.5a6.75,6.75,0,0,0-1.813,4.376,1.05,1.05,0,0,0,.22.677.934.934,0,0,0,.769.275q2.344-.256,2.563-.256a4.556,4.556,0,0,1,2.692.97,3.325,3.325,0,0,1,1.337,2.875,4.838,4.838,0,0,1-1.044,2.911,4.067,4.067,0,0,1-3.5,1.41A5.361,5.361,0,0,1,20.911-34.3,7.01,7.01,0,0,1,19.226-38.892Z' transform='translate(-2.014 50.574)' fill='%230087EF'/%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
    }
    p {
        font-size: 1.5rem;
    }
}

.cta {
    position: relative;
    padding: 10rem 0;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;

    &.gradiantCta {
        color: $white;
        p, h1, h2, h3, h4, h5, h6 {
            color: $white;
        }
    }
}