@import '../../layout/style/globals';

.label {
    padding: 0.25rem 0.75rem;
    display: inline-block;
    border-radius: 1rem;
    font-size: 0.625rem;
    font-weight: 400;

    &.blue {
        background-color: $mediumblue;
        color: $darkblue;
    }

    &.green {
        background-color: $lightgreen;
        color: $darkgreen;
    }
}