@import '../../layout/style/globals';

.card {
	padding: 2rem 2.5rem;
	text-align: center;
	position: relative;
	width: 100%;
	margin-bottom: 2rem;
    background-color: white;
    border-radius: 1.25rem;

    &.smallPadding {
        padding: 1.25rem;
    }

    &.noPadding {
        padding: 0;
    }

	&.shadow { 
        @include box-shadow-hard;
    }
    
    &.leftAligned {
        text-align: left;
    }

    &.invisibleBox {
        background-color: transparent;
        padding: 0;
        // padding-right: 5rem;
    }
}
