@import '../../layout/style/globals';

.card {
	padding: 3.75rem 2.5rem;
	text-align: center;
	position: relative;
	width: 100%;
	margin-bottom: 2rem;
    background-color: white;

    &.smallPadding {
        padding: 1.875rem;
    }

	&.shadow { 
        @include box-shadow;
    }
    
    &.leftAligned {
        text-align: left;
    }
}
