@import '../../../layout/style/globals';

.row {
    background-color: transparent !important;
    &:hover {
        background-color: $lightblue !important;

        th, td {
            background-color: $lightblue !important;
        }
    }
    font-size: 0.8rem;

    @include mq($until: md) {

        .hiddenMobile {
            display: none;
        }
        .activeColMobile {
            border-right: 1px solid $lightgrey;

            &.topRow {
                border-top-right-radius: 5px;
            }
        }
        &:last-child {
            .activeColMobile {
                border-right: 1px solid $lightgrey;
                border-bottom-right-radius: 5px;
            }
        }
        
        

    }

    &.collapsed {
        display: none;
    }

    .rowHeader {
        position: relative;
        
        &.paddingLeft {
            padding-left: 2.5rem;
        }
        .expandButton {
            position: absolute;
            left: 0.75rem;
            top: 50%;
            transform: translate(0, -49%);
            padding: 0.6rem;
            margin-right: 0.5rem;

            &::before {
                line-height: 0;
            } 
        }
        &.nested {
            font-weight: 400;
            font-style: italic;

            @include mq($from: md) {
                padding-left: 4rem !important;
            }
        }
        
        .marginRight {
            margin-right: 0.5rem;
        }
        .toolTip {
            position: absolute;
            border-bottom: 1px dotted black;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            border: 1px solid $grey;
            cursor: pointer;

            &::before {
                content: 'i';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 0.7rem;
                color: $lightblack;
            }

            .toolTipText {
                visibility: hidden;
                width: 11.25rem;
                max-width: 48vw;
                font-style: italic;
                background-color: #fff;
                border: 1px solid $grey;
                text-align: center;
                border-radius: 0.5rem;
                font-size: 0.7rem;
                padding: 0.5rem 0.375rem;
                position: absolute; 
                z-index: 1;
                right: -1rem;
                top: 50%;
                transform: translate(100%, -50%);

                @include mq($from: lg) {
                    right: auto;
                    left: -0.75rem;
                    transform: translate(-100%, -50%);
                }

                &::after {
                    content: '';
                    width: 0.75rem;
                    height: 0.75rem;
                    background-color: #fff;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(135deg);
                    border-bottom: 1px solid $lightgrey;
                    border-right: 1px solid $lightgrey;

                    @include mq($from: lg) {
                        right: 0;
                        left: auto;
                        transform: translate(50%, -50%) rotate(-45deg);
                    }
                }
            }

            &:hover {
                .toolTipText {
                    visibility: visible;
                }
            }
        }
    }

    .tableCell {
        font-style: italic;
    }
}