@import '../../layout/style/globals';


.table {
    margin-bottom: 3.75rem;

    .marginLeft {
        margin-left: 1rem;
    }

    &.expandable {
        position: relative;

        h4 {
            margin-bottom: 0 !important;
        }

        .tableWrapper {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.1s ease;
        }

        &.collapsed {
            
        }
        
        .heading {
            padding-bottom: 1.875rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    }
}