@import '../../layout/style/globals';

.tableName {
    text-align: center !important;

    @include mq($from: lg) {
        width: 50%;
    }

    .icon {
        height: 1.25rem;
        margin-right: 0.5rem;
    }
}

.tableHeader {
    font-size: 1.25rem;
    color: $black;
    text-align: center !important;
}

.table {
    border: 1px solid $lightgrey;
    table-layout: fixed;
    overflow-x: scroll;
    width: 100%;

    @include mq($until: md) {
        .hiddenMobile {
            display: none;
        }
    }

    // @include mq($until: md) {
    //     display: block;
    // }
    td, th {
        padding: 2rem 1rem;
        border-color: $lightgrey;
        border-width: 1px !important;
        border-left: 1px solid $lightgrey;
        vertical-align: middle;
    }
    td {
        text-align: center !important;
        // min-width: 10rem;
    }
    // th {
    //     min-width: 15rem;
    // }
    tr {
        color: $black;
        background-color: transparent !important;
    }
}