@import '../../layout/style/globals';

.card {
    width: 100%;
    background-color: #292929;
    border-radius: 10px;
    padding: 5rem 4rem;
    position: relative;

    @include mq($until: md) {
        padding-bottom: 50%;
    }

    .bullit {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 1rem 0;
        
        .icon {
            width: 2rem;
            margin: 0;
            margin-right: 1rem;
        }

        p {
            margin: 0;
            color: rgba(255, 255, 255, 0.6);
        }
    }
    .label {
        font-size: 0.6rem;
        position: absolute;
        top: 7%;
        right: -0.25rem;
        color: $white;
        border-radius: $border-radius;
        border-bottom-right-radius: 0;
        background-color: $blue;
        padding: 0.25rem 0.5rem;
        z-index: 3;
        box-sizing: border-box;
        
        
        &::after {
            content: '';
            position: absolute;
            top: 100%;
            right: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0.4rem 0.25rem 0 0;
            border-color: darken($blue, 20) transparent transparent transparent;
            z-index: 2;
        }
    }
    .price {
        margin-bottom: 0.25rem;
    }
    .paymentRate {
        color: rgba(255, 255, 255, 0.6);
    }

    .imageWrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;

        
        .image {
            position: absolute;
            left: 50%;
            top: 3%;
            min-width: 50%;
            min-height: 110%;

            img {
                max-width: none;
            }
        }

        @include mq($until: md) {
            height: 20rem;
            bottom: 0;
            top: auto;

            .image {
                top: auto;
                left: 50%;
                transform: translateX(-50%); 
                height: 30rem;
                min-height: none;
                min-width: none;
                bottom: 0;
            }
        }

    }
}