@import '../../layout/style/globals';

.image {
    width: 100%;
    max-width: 100%;

    img {
        max-width: none;
    }

    &.imageOverflow {
        max-width: 50vw;
        position: absolute !important;
        bottom: -5rem;
        right: -5rem;
        width: 120%;

        @include mq($until: lg) {
            // left: 0;
            // top: 50%;
            // transform: translateY(-50%);
            position: relative !important;
            width: 100%;
            margin-bottom: -5rem;
            max-width: 100%;
            right: auto;
            bottom: auto;
        }
    }
}
.textWrapper {
    padding: 5rem 7rem;
    
    @include mq($until: xl) {
        padding: 2rem 3rem;
        color: black!important;
    }
}

.backgroundLogoWrapper {
    position: absolute !important;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    border-radius: 1.25rem;

    .backgroundLogo {
        position: absolute !important;
        left: 2rem;
        top: 4rem;
        width: 75% !important;
        max-width: none !important;
    }
    .backgroundImage {
        position: absolute !important;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        max-width: none !important;

        img {
            max-width: none !important;
            object-fit: cover!important;

        }
    }
}

.card {
    border: none !important;
    box-shadow: none !important;
}

.ctaImageBackground {
    position: absolute!important;
    bottom: 0%;
    right: 50%;
    transform: translate(50%, 0);
    width: 135%;
    max-width: 135%;
}

@include mq($until: lg) {
    .imageWrapper {
        padding-top: 14%;
    }
}

// @include mq($from: lg) {
//     .toEdge {
//         position: absolute;
//         right: 0;
//         padding-right: 0;
//     }
// }

// @include mq($until: lg) {
//     .toEdge {
//         padding-right: 0;
//         // min-width: 100vw;
//     }
//     .card {
//         padding: 1.25rem;
//     }

//     .ctaCardSimple {
        
//     }

// }