@import '../../layout/style/globals';

.image {
    width: 100%;
    max-width: 100%;

    img {
        max-width: none;
    }

    &.imageOverflow {
        max-width: 50vw;
        position: absolute !important;
        bottom: -5rem;
        right: -5rem;
        width: 120%;

        @include mq($until: lg) {
            // left: 0;
            // top: 50%;
            // transform: translateY(-50%);
            position: relative !important;
            width: 100%;
            margin-bottom: -5rem;
            max-width: 100%;
            right: auto;
            bottom: auto;
        }
    }
}
.textWrapper {
    padding: 5rem 7rem;
    
    @include mq($until: xl) {
        padding: 2rem 3rem;
    }
}

.backgroundLogoWrapper {
    position: absolute !important;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;

    .backgroundLogo {
        position: absolute !important;
        left: 2rem;
        top: 4rem;
        width: 75% !important;
        max-width: none !important;   
    }
}