@import '../../layout/style/globals';

.modal {
    display: flex column;
    align-items: stretch;
    z-index: 999;
    max-width: 60rem;
    animation: slide-up 0.6s;
    padding: 0!important;

    @include mq($until: xl) {
        max-width: 85%;
    }
    
    @include mq($until: md) {
        max-width: 95%;
    }
    
    /// dymmy content - delete before production ///
    img {
        width: 100%!important;
        max-width: 100%!important;
    }
    ///////////////////////////////////////////////

    .modalRight {
        text-align: left;
        display: flex column;
        padding: 1rem;

        .close {
            text-align: right!important;
        }
    }

    .modalLeft {
        text-align: left;
        padding: 1rem;

        @include mq($from: lg) {
            border-right: 1px solid $grey;
        }

        @include mq($until: lg) {
            border-top: 1px solid $grey;
        }
    }
}

@keyframes slide-up {
    0%{
        transform: translateY(1rem);
    }
    100%{
        transform: translateY(0rem);
    }
}


  