@import '../../layout/style/globals';

.modal {
    @include card;
    @include card-visible;
        
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 5rem;
    display: flex column;
    align-items: stretch;
    z-index: 999;
    max-width: 60rem;
    animation: slide-up 0.6s;
    padding: 0!important;
    

    &.dark {
        background-color: #242424;
    }

    .close {
        background-color: transparent;
        border: none;
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 2rem;
        height: 2rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='21.999' viewBox='0 0 22 21.999'%3E%3Cpath d='M14.761,7.148,8.539,7.017,8.408.794A.819.819,0,0,0,7.613,0a.74.74,0,0,0-.761.761l.132,6.222L.761,6.852A.74.74,0,0,0,0,7.613a.819.819,0,0,0,.794.794l6.222.132.132,6.222a.819.819,0,0,0,.794.794.74.74,0,0,0,.761-.761L8.572,8.572l6.222.132a.74.74,0,0,0,.761-.761A.819.819,0,0,0,14.761,7.148Zm0,0' transform='translate(11) rotate(45)' fill='%23a7a7a7'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    
    @include mq($from: lg) {
        &.modalSmall {
            width: 40rem;
        }
    }

    @include mq($until: xl) {
        max-width: 85%;
    }
    
    @include mq($until: md) {
        max-width: 95%;
    }

}

@keyframes slide-up {
    0%{
        transform: translateY(1rem) translateX(-50%);
    }
    100%{
        transform: translateY(0rem) translateX(-50%);
    }
}


  