@import '../../layout/style/globals';

.modal {
    @include card;
    @include card-visible;
        
    position: absolute;
    left: 50%;
    top: 5rem;
    display: flex column;
    align-items: stretch;
    z-index: 999;
    max-width: 60rem;
    animation: slide-up 0.6s;
    padding: 0!important;
    transform: translateX(-50%);

    
    @include mq($from: lg) {
        &.modalSmall {
            width: 40rem;
        }
    }

    @include mq($until: xl) {
        max-width: 85%;
    }
    
    @include mq($until: md) {
        max-width: 95%;
    }

}

@keyframes slide-up {
    0%{
        transform: translateY(1rem);
    }
    100%{
        transform: translateY(0rem);
    }
}


  