@import '../../style/globals';

.menuItem {
    @include mq($from: lg) {
        margin-left: 2rem !important;
        padding: 1rem 0;
    }

    @include mq($until: lg) {

        &.expanded {
            padding-bottom: 0;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    a {
       
        // color: rgba($white, 0.6);
        @include mq($until: lg) {
            color: $darkblue;
            font-weight: 600;
            font-size: 1.625rem;
        }
     
        // &.hasSubMenu::after {
        //     border-color: $blue !important;
        // }
        
        &.active, &:hover, &:active, &:focus {
            // color: $blue;
            text-decoration: none;
        }

        @include mq($until: lg) {
            color: $black;
        }
        @include mq($from: lg) {
            // &.hasSubMenu::after {
            //     border-color: rgba($white, 0.7) !important;
            // }
            &.active, &:hover, &:active, &:focus {
                color: $black;
                text-decoration: none;

                // &.hasSubMenu::after {
                //     border-color: $white;
                // }	
            }
        }
        
        &.hasSubMenu {
            padding-right: 1em;
            position: relative;
            transition: padding 0.2s ease;

            @include mq($until: lg) {
                &:hover {
                    &:after {
                        // transform: translate(50%, -10%) rotate(0deg) translateY(50%) translateX(0.3rem);
                        // transform: rotate
                    }
                }
            }

                &::after {
                    content: '';
                    position: absolute;
                    right: 0.1em;
                    top: 50%;
                    width: 0.5em;
                    height: 0.5em;
                    border-width: 0;
                    transform: rotate(45deg) translate(-50%, -50%);
                    border-style: solid;
                    border-right-width: 0.1em;
                    border-bottom-width: 0.1em;
                    transition: transform 0.1s ease;

                    @include mq($until: lg) {
                        content: '';
                        position: relative;
                        float: right!important;
                        background-image: url("../../../../images/menuArrow.png")!important;
                        background-size: 1rem;
                        background-repeat: no-repeat;
                        background-position: center;
                        top: 50%;
                        width: 1em;
                        height: 1em;
                        transform: translate(50%, 50%);
                        transition: transform 0.2s ease;
                        border-style: none;
                    }
                }

                

                @include mq($until: lg) {
                    
                    &::before {
                        content: '';
                        position: absolute; 
                        left: 0.4rem;
                        background-image: url("../../../../images/menuArrow.png")!important;
                        background-size: 1rem;
                        background-repeat: no-repeat;
                        background-position: center;
                        top: 50%;
                        width: 1em;
                        height: 1em;
                        transform-origin: 0 0;
                        transform: translate(-150%, 50%) rotate(180deg);
                        transition: transform 0.2s ease;
                        border-style: none;
                    }

                    &.subMenuExpanded {
                        padding-left: 2rem; 
                        &::after {
                            transform: translate(10rem, 50%);
                        }
                        &::before {
                            transform: translate(50%, 50%) rotate(180deg);
                        }
                    }
                }
        }
    }
    
    @include mq($from: lg) {
        &:hover {
            .hasSubMenu {
                &::after {
                    transform: rotate(-135deg) translate(10%, 10%);
                }
            }
        }
    }
    &.expand {
        .hasSubMenu {
            &::after {
                transform: translate(0%, 50%) rotate(90deg);
            }
        }
    }

}


.subMenuParent {
    position: relative;

    &.expandedDefault {

        .submenu {
            max-height: none;

            .has-subsubmenu { 
                .subsubmenu {
                    max-height: none;
                }
            }
        }

    }
}


.hasSubMenu:after {
    border-color: $black!important;
}
@include mq($from: lg) {
    li>a.hasSubMenu::after {
        &.active, &:hover, &:active, &:focus {
            border-color: $black !important;
        }
    }
}




