@import '../../layout/style/globals';

.people {
    cursor: pointer!important;
    padding-bottom: 2rem;

    @include mq($until: md) {
        .name {
            padding-top: 1rem;
        }
    }

 

    .image {
        box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.06);
    }
    @include mq($from: md) {
        .image {
            margin-bottom: 1rem;
        }
    }
    
    @include mq($until: md) {
        .textWrapper {
            margin-left: 1rem;
            display: block;
        }
    }
    @include mq($until: sm) {
        .textWrapper {
            // display: flex;
            margin-left: 0;
            margin-top: 1.25rem;
            h4, h5 {
                padding-right: 0.5rem;
            }
        }
    }

    .icons {

        .linkedinLink {
            line-height: 0;
            display: inline-block;
           
            img.socialIcon {
                width: 1.5rem;
                max-width: 1.5rem;
                // margin: 0;
                border-radius: 4px;
                padding-left: 1rem;
                
            }
        }

        .customIcon {
            line-height: 0;
            padding-right: 0.5rem;
            
            img.socialIcon {
                width: 1.5rem;
                max-width: 1.5rem;
                margin: 0;
                border-radius: 4px;
            }
        }
    }

    @include mq($until: sm) {
        
        .cardHeaderWrapper {
            display: block;
            width: 100%;
            align-items: center;
            flex-direction: row;
            justify-content: flex-start;
            margin-bottom: 1.25rem;
            position: relative;

            &>div {
                width: 100%;
            }
            .socialIcon {
                position: relative;
                right: 0;
                top: 0;
            }
        }
    }

    @include mq($until: md) {
        .cardHeaderWrapper {
            display: block;
            margin-bottom: 0;

            .socialIcon {
                position: relative;
            }
        }
    }
}

.expPersonCard {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    // background-color: #cfcfcf;
    padding: 3.75rem 2.5rem;
    margin: 0rem 0.9375rem 4rem 0.9375rem;
    width: 100%;
    opacity: 1;
    transition: opacity .8s;
    // height: 350px;
}

@include mq($until: lg) {
    // .people {
        // margin-bottom: 0rem;
    // }
}

.hidden {
    opacity: 0;
    transition: opacity .8s;
}

.visible {
    opacity: 1;
    // transition: opacity .8s;
}

.jobTitle {
    display: inline-block;
    padding-right: 1rem;
    font-weight: 200;
    padding-bottom: 1rem;
}

.title {
    font-weight: 200;
    margin-top: 0;
}

.fadeIn {
  

    @keyframes fadeIn {
        
        0% {
            // transform: translateY(-1rem);
            // padding: 0!important;
            // margin: 0!important;
            opacity: 0;
            // max-height: 0;
            // overflow: hidden;
        }
        100% {
            // transform: translateY(0rem);
            opacity: 1;
            // max-height: 350px;
            // padding: 3.75rem 2.5rem;
            // margin: 0rem 0.9375rem 4rem 0.9375rem;

        }
        
    }
    animation: fadeIn .5s;
}






