@import url('https://use.typekit.net/dpj5gga.css');

$black: #002D4F;
$lightblack: #002d4fb3;
$white: #fff;
$blue: #0087EF;
$mediumblue: #E5F6FD;
$lightblue: #EFFAFF;
$yellow: #FDEDD0;
$lightyellow: #FFF3E0;
// $lightgrey: #F9FBFC;
$lightgrey: #E5E9ED;
$mediumgrey: #E6E6E6;
$grey: #D6D6D6;
$darkgrey: #4F525F; 

$colors: (
	black: $black,
	lightblack: $lightblack,
	white: $white,
	blue: $blue,
	lightblue: $lightblue,
	mediumblue: $mediumblue,
	yellow: $yellow,
	lightyellow: $lightyellow,
	lightgrey: $lightgrey,
	mediumgrey: $mediumgrey,
	grey: $grey,
	darkgrey: $darkgrey,
);

$link-color: $blue;
$font-family-base: 'Soleil', Arial, Sans-Serif;
$font-weight-base: 300;
$headings-font-weight: 600;

$grid-gutter: (
  xs: 2.2rem,
  lg: 30px
);

@import '~baseguide/scss/baseguide/00-settings/settings';


