.tk-soleil { font-family: 'Poppins', sans-serif; }

$black: #000000;
$darkblack: #262626;
$mediumblack: #333;
$lightblack: #707070;
$white: #fff;
$see-through-white: #ffffffd9;
$darkblue: #1C3D72;
$blue: #0063FF;
$mediumblue: #CCE7FC;
$lightblue: #EFFAFF;
$yellow: #FDEDD0;
$lightyellow: #FFF3E0;
// $lightgrey: #F9FBFC;
$lightgrey: #E5E9ED;
$mediumgrey: #E6E6E6;
$grey: #D6D6D6;
$darkgrey: #4F525F; 
$red: rgb(214, 0, 18);
$lightgreen: #D4EDDA;
$darkgreen: #155724;

$colors: (
	black: $black,
	darkblack: $darkblack,
	lightblack: $lightblack,
	white: $white,
	see-through-white: $see-through-white #fff,
	blue: $blue,
	lightblue: $lightblue,
	mediumblue: $mediumblue,
	yellow: $yellow,
	lightyellow: $lightyellow,
	lightgrey: $lightgrey,
	mediumgrey: $mediumgrey,
	grey: $grey,
	darkgrey: $darkgrey,
	red: $red,
	mediumblack: $mediumblack,
	lightgreen: $lightgreen,
	darkgreen: $darkgreen,
);

$link-color: $blue;
$text-color: $lightblack;
$headings-color: $black;
$font-family-base: 'Poppins', sans-serif;
$font-weight-base: 300;
$headings-font-weight: 300;

$border-radius: 5px;
$input-border-radius: $border-radius;
$input-border-color: $lightgrey;
// $input-padding-vertical: 0.5rem;
// $input-padding-horizontal: 1rem;
$input-color: $mediumblack;
$button-border-radius: 5rem;

$grid-gutter: (
  xs: 2.2rem,
  lg: 30px
);

@import '~baseguide/scss/baseguide/00-settings/settings';


