// @import url('https://use.typekit.net/dpj5gga.css');

@font-face {
	font-family:"soleil";
	src:url("https://use.typekit.net/af/1f781f/00000000000000003b9aef83/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/1f781f/00000000000000003b9aef83/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/1f781f/00000000000000003b9aef83/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
	font-display:swap;font-style:normal;font-weight:700;
	}
	
@font-face {
	font-family:"soleil";
	src:url("https://use.typekit.net/af/da0a6a/00000000000000003b9aef7a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/da0a6a/00000000000000003b9aef7a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/da0a6a/00000000000000003b9aef7a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
	font-display:swap;font-style:normal;font-weight:300;
	}
	
@font-face {
	font-family:"soleil";
	src:url("https://use.typekit.net/af/273d01/00000000000000003b9aef81/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/273d01/00000000000000003b9aef81/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/273d01/00000000000000003b9aef81/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
	font-display:swap;font-style:normal;font-weight:600;
	}
	
@font-face {
	font-family:"soleil";
	src:url("https://use.typekit.net/af/bdec83/00000000000000003b9aef7b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/bdec83/00000000000000003b9aef7b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/bdec83/00000000000000003b9aef7b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
	font-display:swap;font-style:italic;font-weight:300;
	}
	
.tk-soleil { font-family: "soleil",sans-serif; }

$black: #002D4F;
$mediumblack: #333;
$lightblack: #002d4fb3;
$white: #fff;
$see-through-white: #ffffffd9;
$blue: #0087EF;
$mediumblue: #E5F6FD;
$lightblue: #EFFAFF;
$yellow: #FDEDD0;
$lightyellow: #FFF3E0;
// $lightgrey: #F9FBFC;
$lightgrey: #E5E9ED;
$mediumgrey: #E6E6E6;
$grey: #D6D6D6;
$darkgrey: #4F525F; 

$colors: (
	black: $black,
	lightblack: $lightblack,
	white: $white,
	see-through-white: $see-through-white #fff,
	blue: $blue,
	lightblue: $lightblue,
	mediumblue: $mediumblue,
	yellow: $yellow,
	lightyellow: $lightyellow,
	lightgrey: $lightgrey,
	mediumgrey: $mediumgrey,
	grey: $grey,
	darkgrey: $darkgrey,
);

$border-radius: 5px;
$link-color: $blue;
$text-color: $lightblack;
$headings-color: $mediumblack;
$font-family-base: 'Soleil', Arial, Sans-Serif;
$font-weight-base: 300;
$headings-font-weight: 600;

$input-border-radius: 5rem;
$input-border-color: $grey;
$input-padding-vertical: 0.5rem;
$input-padding-horizontal: 1rem;
$input-color: $mediumblack;

$grid-gutter: (
  xs: 2.2rem,
  lg: 30px
);

@import '~baseguide/scss/baseguide/00-settings/settings';


