@import url('https://use.typekit.net/dpj5gga.css');

$black: #002D4F;
$lightblack: #002d4fb3;
$white: #fff;
$see-through-white: #ffffffd9;
$blue: #0087EF;
$mediumblue: #E5F6FD;
$lightblue: #EFFAFF;
$yellow: #FDEDD0;
$lightyellow: #FFF3E0;
// $lightgrey: #F9FBFC;
$lightgrey: #E5E9ED;
$mediumgrey: #E6E6E6;
$grey: #D6D6D6;
$darkgrey: #4F525F; 

$colors: (
	black: $black,
	lightblack: $lightblack,
	white: $white,
	see-through-white: $see-through-white #fff,
	blue: $blue,
	lightblue: $lightblue,
	mediumblue: $mediumblue,
	yellow: $yellow,
	lightyellow: $lightyellow,
	lightgrey: $lightgrey,
	mediumgrey: $mediumgrey,
	grey: $grey,
	darkgrey: $darkgrey,
);

$link-color: $blue;
$text-color: $lightblack;
$headings-color:#333;
$font-family-base: 'Soleil', Arial, Sans-Serif;
$font-weight-base: 300;
$headings-font-weight: 600;

$border-radius: 5px;
$input-border-radius: $border-radius;
$input-border-color: $grey;
$input-padding-vertical: 0.5rem;
$input-padding-horizontal: 1rem;

$grid-gutter: (
  xs: 2.2rem,
  lg: 30px
);

@import '~baseguide/scss/baseguide/00-settings/settings';


