@import '../../layout/style/globals';

.section {
    overflow: hidden;
}

.card {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    display: block !important;

    &:last-child {
        margin-bottom: -1rem;
    }

    .AdLink {
        color: #16912E;

        .AdText {
            border: 1px solid #16912E;
            padding: 0.125rem 0.5rem;
            border-radius: 5px;
            margin-right: 0.75rem;
        }
    }
}



