@import '../../layout/style/globals';

.section {
    overflow: hidden;
}

.adWrapper {
    border-radius: 10px;
    width: 100%;
    background-color: white;
    // border-top: 2rem solid #F3F7FA !important;
    position: relative;
    display: block !important;
    padding-bottom: 0;
    overflow: hidden;
    padding-top: 5rem;

    &::before {
        content: '';
        background-color: #F3F7FA;
        width: 100%;
        height: 2.5rem;
        position: absolute;
        top: 0;
        left: 0;
    }

    &::after {
        content: '';
        background-color: red;
        height: 0.6rem;
        width: 0.6rem;
        border-radius: 50%;
        position: absolute;
        top: 0.95rem;
        left: 1rem;
        box-shadow: 1.1rem 0 0 0 #FFBC2E, 2.2rem 0 0 0 #27CA41;
    }

    .searchBar {
        position: relative;
        border: 1px solid rgba(0, 45, 79, 0.1);
        border-radius: 10rem;
        width: 100%;
        padding: 0.6rem 1.375rem;
        margin-bottom: 3rem;
    
        &::after {
            content: '';
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 1rem;
            height: 1rem;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%230087ef;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M20.68,18.217l-4.93-4.951a7.884,7.884,0,0,0,1.962-5.191A8.233,8.233,0,0,0,9.348,0,8.233,8.233,0,0,0,.984,8.075,8.233,8.233,0,0,0,9.348,16.15a8.48,8.48,0,0,0,4.792-1.461l4.968,4.988a1.119,1.119,0,0,0,1.542.029A1.029,1.029,0,0,0,20.68,18.217ZM9.348,2.107A6.085,6.085,0,0,1,15.53,8.075a6.085,6.085,0,0,1-6.182,5.968A6.085,6.085,0,0,1,3.166,8.075,6.085,6.085,0,0,1,9.348,2.107Z' transform='translate(-0.984)'/%3E%3C/svg%3E");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .card {
        padding: 1.5rem;
        margin-bottom: 1.5rem;

        &:last-child {
            margin-bottom: -1rem;
        }

        .AdLink {
            color: #16912E;

            .AdText {
                border: 1px solid #16912E;
                padding: 0.125rem 0.5rem;
                border-radius: 5px;
                margin-right: 0.75rem;
            }
        }
    }
}


