@import '../../layout/style/globals';

.cross {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23002d4f;opacity:0.3;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M9.466,8.136l6.23-6.23A1.036,1.036,0,0,0,14.23.44L8,6.67,1.77.44A1.036,1.036,0,0,0,.3,1.905l6.23,6.23L.3,14.366A1.036,1.036,0,1,0,1.77,15.832L8,9.6l6.23,6.23A1.036,1.036,0,0,0,15.7,14.366Zm0,0' transform='translate(0 -0.136)'/%3E%3C/svg%3E");
    // display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    // top: 0.3em;
    // left: 0;
    width: 1em;
    height: 1em;
    // position: absolute;
}