@import '../../components/layout/style/globals';

@keyframes card-animation {
    0% {
        transform: scaleY(0);
        opacity: 0.5;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes rotating {
    from {
      transform: rotate(0deg) translate(-50%, -50%);
    }
    to {
      transform: rotate(360deg) translate(-50%, -50%);
    }
  }

.headerText {
  // padding-top: 5rem;
  padding-bottom: 12rem;

  @include mq($until: lg) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.headerSearch {
  padding-top: 5rem;
  padding-bottom: 15rem;
}

.card {
    animation: card-animation 0.4s ease 0s;
    transform-origin: top center;
    padding: 0;
    overflow: hidden;
    display: block;

    .cardText {
      padding: 2.5rem;
      padding-top: 0; 
      display: flex;
      justify-content: space-between;
      color: $black;

      >div {
        width: calc(50% - 1rem);
      }

      @include mq($until: md) {
        flex-direction: column;

        >div {
          width: 100%;
        }
      }

      &.noResult {
        display: block;
        text-align: center;
      }
    }
}
.label {
  width: 100%;

  input, input:focus {
    border-color: $white;
  }
}

.button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    position: relative;
    text-align: center;

    &:disabled {
      opacity: 1;
      cursor: not-allowed !important;
      pointer-events: visible;
    }

    .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        box-sizing: border-box;
        transform: translate(-50%, -50%);
        transform-origin: left top;
    }

    & svg {
        width: 0;
        height: 0;
        fill: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.4s ease;
      }

      &.searching {
        // width: 40px;
        // border-color:gray;
        // border-width:3px;
        // font-size:0;
        // border-left-color:green;

        & .spinner {
            visibility: visible;
            width: 20px;
            height: 20px;
            border-radius: 20px;
            border: 3px solid white;
            border-left-color: transparent;
            animation: rotating 0.8s 0s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
        }
      
        & span {
            visibility: hidden;
        }
      }
      &.searched {
        color: white;
        & svg {
          height: 40px;
          width: 40px;
        }
        & span {
          visibility: hidden;
        }
        & .checkmark{
        transform-origin: 50% 50%;
          stroke: white;
          stroke-width: 5px;
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
        animation: stroke .3s cubic-bezier(0.650, 0.000, 0.450, 1.000) .1s forwards;
      }

      &:hover {
          span {
              display: block;
          }
          svg {
              display: none;
          }
      }
      }
      
}
.siteImages {
  position: relative;
  width: 20rem;
  max-width: 100%;

  @include mq($until: lg) {
    margin: auto;
  }

  .desktop {
    width: calc(100% - 2.5rem);
    margin-bottom: 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
  }
  .mobile {
    position: absolute;
    width: 5rem;
    right: 0;
    bottom: 0;
    border: 2px solid black;
    border-radius: 0.5rem;
  }
}
  
.openingHours {
  max-width: 100%;

  p {
    width: 48%;
    margin-bottom: 0.5rem;
    word-wrap: break-word;
  }
}
