@import '../../layout/style/globals';

.modalRight {
    text-align: left;
    display: flex column;
    padding: 1.5rem;

    .close {
        text-align: right!important;
    }
}

.modalLeft {
    text-align: left;
    padding: 2rem 1.5rem;

    @include mq($from: lg) {
        border-right: 1px solid $grey;
    }

    @include mq($until: lg) {
        border-top: 1px solid $grey;
    }

    img {
        vertical-align: super;
    }
}