@import '../../layout/style/globals';

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(-0.2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.modalRight {
    text-align: left;
    display: flex column;
    padding: 1.5rem;

    .close {
        text-align: right!important;
    }
}

.modalLeft {
    text-align: left;
    padding: 2rem 1.5rem;

    @include mq($from: lg) {
        border-right: 1px solid $grey;
    }

    @include mq($until: lg) {
        border-top: 1px solid $grey;
    }

    img {
        vertical-align: super;
    }

    .formGroup {
        position: relative;

        &.dirty.error {

            input, textarea, select {
                border-color: $red;
            }
        }

        // .errorText {
        //     // position: absolute;
        //     // z-index: 0;
        //     // bottom: 0;
        //     animation: fadein 0.4s ease;
        // }
    }
}