@import '../../layout/style/globals';

.section {
    position: relative;

    &.withBg {
        padding-top: 12rem;

        @include mq($until: md) {
            padding-top: 7.5rem;
        }
    }

    .textWhite p {
        color: $white;
    }

    .whiteSways {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .whiteSway {
        bottom: auto;
        top: -1px;
        transform: rotate(180deg);
    }
.labelText {
            margin-bottom: 0.5rem;
            display: block;
            font-size: 0.8rem;
            text-align: left;
            color: $lightblack
        }
    label {
        width: 100%;

        

        input {
            &.invalid {
                border-color: red;
            }
        }
    }

    .inputInline {
        justify-content: space-between;
        align-items: center;

        label:first-child {
            margin-right: 0.5rem;
        }
        label:last-child {
            margin-left: 0.5rem;
        }
    }
    .inputWebsite  {
        position: relative;
        display: flex;
       

        input {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            // display: flex;
            // align-items: center;
            // padding-top: 1rem;
            // padding-bottom: 1rem;

            &::placeholder {
                color: $grey;
                opacity: 1;
                font-size: 0.8em;
                vertical-align: middle;
            }
        }
        
    }
    .prefix {
        // position: absolute;
        // left: 0;
        // bottom: 0;
        // width: 5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        color: $lightblack;
        background-color: $lightgrey;
        display: flex;
        align-items: center;
        border: 1px solid $grey;
        border-right-width: 0;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;

    }
    .depositButtons  {
        margin-bottom: 1.875rem;
        button {
            //margin-bottom: 0.5rem;
            width: calc(50% - 0.25rem);
            box-sizing: border-box;

            border-radius: 5px;
            background-color: $white;
            border-color: $blue;
            color: $blue;
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
            margin: 0.5rem 0.25rem;
            margin-top: 0;
        
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            &.active, &:hover, &:active {
                background-color: lighten($blue, 47);
                color: $blue;
                border-color: $blue;
            }

            &.mostUsed {
                position: relative;
                span {
                    position: absolute;
                    top: 0.5rem;
                    right: -0.3rem;
                    font-size: 0.6rem;
                    padding: 0.25rem 0.3rem;
                    line-height: 1;
                    background-color: $blue;
                    color: $white;
                    font-weight: 400;
                    border-radius: 2px;
                    border-bottom-right-radius: 0;

                    &::after {
                        content: '';
                        position: absolute;
                        right: 0;
                        width: 0; 
                        height: 0;
                        top: 100%;
                        border-top: calc(0.3rem - 1px) solid darken($blue, 20);
                        border-right:calc(0.3rem - 1px) solid transparent; 
                        //transform: translateY(100%);
                        
                    }
                }
                
                
            }
        }
    }
    
    .btn {
        white-space: nowrap;
        @include mq($from: sm) {
            margin-left: 2rem;
        }

        &:disabled {
            opacity: 1;

            // &:hover {
                cursor: not-allowed !important;
                pointer-events: visible;
            &:hover {
                opacity: 0.65;
                background-color: $blue;
            }
        }
    }
}
