@import '../../layout/style/globals';

.section {
    position: relative;

    &.withBg {
        padding-top: 12rem;

        @include mq($until: md) {
            padding-top: 7.5rem;
        }
    }

    .textWhite p {
        color: $white;
    }

    .whiteSways {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .whiteSway {
        bottom: auto;
        top: -1px;
        transform: rotate(180deg);
    }

    label {
        width: 100%;

        .labelText {
            margin-bottom: 0.5rem;
            display: block;
        }

        input {
            &.invalid {
                border-color: red;
            }
        }
    }

    .inputInline {
        justify-content: space-between;
        align-items: center;

        label:first-child {
            margin-right: 0.5rem;
        }
        label:last-child {
            margin-left: 0.5rem;
        }
    }
    .inputWebsite  {
        position: relative;
        display: flex;
       

        input {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            // display: flex;
            // align-items: center;
            // padding-top: 1rem;
            // padding-bottom: 1rem;

            &::placeholder {
                color: $grey;
                opacity: 1;
                font-size: 0.8em;
                vertical-align: middle;
            }
        }
        
    }
    .prefix {
        // position: absolute;
        // left: 0;
        // bottom: 0;
        // width: 5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        color: $lightblack;
        background-color: $lightgrey;
        display: flex;
        align-items: center;
        border: 1px solid $grey;
        border-right-width: 0;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;

    }

    .btn {
        &:disabled {
            opacity: 1;

            // &:hover {
                cursor: not-allowed !important;
                pointer-events: visible;
            &:hover {
                opacity: 0.65;
                background-color: $blue;
            }
        }
    }
}
