@import '../../layout/style/globals';

@keyframes spinner {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(365deg);
    }
}

@keyframes fadeIn {
    0% {
        transform: translateY(-.6rem);
        max-height: 0;
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        max-height: 5rem;
        opacity: 1;
    }
}

.section {
    position: relative;

    &.withBg {
        padding-top: 12rem;

        @include mq($until: md) {
            padding-top: 7.5rem;
        }
    }

    .textWhite p {
        color: $white;
    }

    .whiteSways {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .whiteSway {
        bottom: auto;
        top: -1px;
        transform: rotate(180deg);
    }
}
