@import '../../layout/style/globals';

.gradiantBar {
    margin: 1rem 0;
    margin-top: 0.5rem;
    width: 3rem;
    height: 0.3125rem;
    @include gradiant;
    border-radius: 2rem;
    max-width: 100%;
    
    &.wide {
        width: 15rem;
    }
}