@import '../../layout/style/globals';

.backgroundImage {
    position: absolute!important;
    min-height: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    img {
        object-fit: cover !important;
    }
}