.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  animation: load1 1s infinite ease-in-out;
  width: 0.1875rem;
  height: 1rem;
}
.loader {
  color: #ffffff;
  position: relative;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: '';
}
.loader:before {
  left: -0.5rem;
  animation-delay: -0.32s;
}
.loader:after {
  left: 0.5rem;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    height: 0.8rem;
  }
  40% {
    height: 1.4em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    height: 0.8rem;
  }
  40% {
    height: 1.4rem;
  }
}