
.shoppingCards {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;

    .card {
        // width: 10rem;
        // max-width: none;
        margin-right: 1rem;
        flex: 0 0 26%;
        padding: 0;
        display: block !important;
        

        img {
            width: 100%;
            max-width: 100%;
            margin: 0;
        }

        .adText {
            
            padding: 1rem;
            text-align: left;

            p {
                font-size: 0.7rem;
                margin-bottom: 0.375rem;

                &.green {
                    color: #198039;
                }
                &.blue {
                    color: #2462D3;
                }
                &.footer {
                    margin-top: 1.2rem;
                    margin-bottom: 0;
                }
            }
        }
    }
}