@import '../../layout/style/globals';

.Section {
    overflow: hidden;
}

.imageToEdges {
    min-width: 50vw;
    max-width: none;
    
    @include mq($until: lg) {
        min-width: calc(100vw - 1.1rem);
    }
    
}

.centered {
    margin-top: 2.5rem;

    .imageToEdges {
        min-width: calc(100vw - 1.1rem);
        left: 50%;
        transform: translateX(calc(-50vw + 1.1rem))
    }
}
