@import '../../layout/style/globals';

.Section {
    overflow: hidden;
}

.JumboHeader {
    position: relative;
    overflow: hidden;
    z-index: 1;

    @include mq($until: xl) {
        padding-bottom: 0;
        padding-top: 7.5rem;
    } 

    &.centered {
        padding-top: 7.5rem;
    }

    .text {
        position: relative;
        z-index: 3;

        &.textPadding {
        padding-bottom: 7.5rem;

            @include mq($until: md) {
                padding-bottom: 0;
            }

            @include mq($from: xl) {
                padding-bottom: 0;
            }
        }
    }
}

.whiteSways {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}