@import '../../layout/style/globals';

.Section {
    overflow: hidden;
}

.imageToEdges {
    min-width: 50vw;
    max-width: none;
    
    @include mq($until: md) {
        min-width: calc(100vw - 1.1rem);
    }
    
}

.centered {
    margin-top: 2.5rem;

    .imageToEdges {
        min-width: calc(100vw - 33%);
    }
}
