@import '../../../layout/style/globals';

.tableName {
    text-align: center !important;

    // @include mq($from: lg) {
    //     width: 50%;
    // }

    .icon {
        height: 1.25rem;
        margin-right: 0.5rem;
    }
}
.headerWrapper {
    display: flex;
    justify-content: between-xs;
    align-items: stretch;
    width: 100%;

    @include mq($until: lg) {
        flex-direction: column;
    }

    .tableHeader {
        display: block;
    }
}
.tableHeader {
    // font-size: 1.25rem;
    color: $black;
    text-align: left;
    position: relative;
    border-radius: 0 !important;
    padding: 1.875rem;
    // display: block;

    &:first-child {
        border-radius: $border-radius !important;
        border-bottom-right-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }
    &:last-child {
        border-radius: $border-radius !important;
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
    }

    button {
        width: 100%;
    }

    .label {
        font-size: 0.6rem;
        position: absolute;
        top: 1.75rem;
        right: -0.25rem;
        color: $white;
        border-radius: $border-radius;
        border-bottom-right-radius: 0;
        background-color: $blue;
        padding: 0.25rem 0.5rem;
        z-index: 3;
        box-sizing: border-box;
        
        
        &::after {
            content: '';
            position: absolute;
            top: 100%;
            right: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0.4rem 0.25rem 0 0;
            border-color: darken($blue, 20) transparent transparent transparent;
            z-index: 2;
        }
    }

    &.highlightedHeader {
        // padding-top: 30px;
        border-radius: $border-radius !important;
        z-index: 2;

        @include mq($from: lg) {
            transform: scale(1.1);
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 5px;
            background: rgb(253,15,208);
            background: linear-gradient(90deg, rgba(253,15,208,1) 0%, rgba(157,0,255,1) 39%, rgba(0,99,255,1) 64%, rgba(0,245,255,1) 100%);
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }
    }

    
}


.expandable {
    max-height: 0;
    overflow: hidden;
}

.table {
    // border: 1px solid $lightgrey;
    table-layout: fixed;
    overflow-x: scroll;
    width: 100%;
    border-collapse: separate;

    @include mq($until: lg) {
        .hiddenMobile {
            display: none;
        }
        .activeColMobile {
            border-right: 1px solid $grey;
            
        }
    }

    thead {
        tr {
            &:first-child {
                th {
                    border-top: 1px solid $lightgrey;

                    &:first-child {
                        border-left: 1px solid $lightgrey;
                        border-top-left-radius: 5px;
                    }
                    &:last-child {
                        border-right: 1px solid $lightgrey;
                        border-top-right-radius: 5px;
                    }

                    @include mq($until: lg) {   
                        &.activeColMobile {
                            border-right: 1px solid $lightgrey;
                            border-top-right-radius: 5px;
                        }
                    }
                }
            }

            .overlinedText {
                color: $lightblack;
                opacity: 0.3;
            }
            .hiddenText {
                opacity: 0;
            }
        }
    }
    tbody {
        tr {
            &:last-child {
                // th {
                //     border-top: 1px solid $lightgrey;
                // }
                th {
                    &:first-child {
                        border-left: 1px solid $lightgrey;
                        border-bottom-left-radius: 5px;
                    }
                }
                td {
                    &:last-child {
                        border-right: 1px solid $lightgrey;
                        border-bottom-right-radius: 5px;
                    }
                    
                }
            }
        }
    }

    &.noHeaders {
        tbody {
            tr {
                &:first-child {
                    th {
                        border-top: 1px solid $lightgrey;

                        &:first-child {
                            // border-left: 1px solid $lightgrey;
                            border-top-left-radius: 5px;
                        }
                    }
                    td {
                        border-top: 1px solid $lightgrey;

                        &:last-child {
                            // border-left: 1px solid $lightgrey;
                            border-top-right-radius: 5px;
                        }
                    }
                }
            }
        } 
    }
    
    
    // @include mq($until: md) {
    //     display: block;
    // }

    tr {
        td, th {
            padding: 0.75rem 0.75rem;
            border-color: $lightgrey;
            border-width: 1px !important;
            border-left: 1px solid $lightgrey;
            vertical-align: middle;

            &:last-child {
                // border-right: hidden;
                border-right: 1px solid $lightgrey;
            }
        }

        th {
            vertical-align: top;
        }
    }
    
    td {
        text-align: center !important;
        // min-width: 10rem;
    }
    // th {
    //     min-width: 15rem;
    // }
    tr {
        color: $black;
    }


}
.fixedHeader {
    position: fixed;
    // top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    background-color: #fff;
    z-index: 10;  

    th {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .table {
        margin-bottom: 0!important;
    }
    .tableHeader {
        padding: 1rem 0.5rem!important;
    }
}
