@import '../../../layout/style/globals';

.tableName {
    text-align: center !important;

    // @include mq($from: lg) {
    //     width: 50%;
    // }

    .icon {
        height: 1.25rem;
        margin-right: 0.5rem;
    }
}

.tableHeader {
    font-size: 1.25rem;
    color: $black;
    text-align: center !important;
    position: relative;
    padding-top: 1.5rem !important;

    .label {
        font-size: 0.8rem;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 85%;
        border: 1px solid $blue;
        color: $blue;
        border-radius: $border-radius;
        background-color: #fff;
        padding: 0.25rem 1rem;
    }

    
}


.expandable {
    max-height: 0;
    overflow: hidden;
}

.table {
    // border: 1px solid $lightgrey;
    table-layout: fixed;
    overflow-x: scroll;
    width: 100%;
    border-collapse: separate;

    @include mq($until: md) {
        .hiddenMobile {
            display: none;
        }
        .activeColMobile {
            border-right: 1px solid $grey;
            
        }
    }

    thead {
        tr {
            &:first-child {
                th {
                    border-top: 1px solid $lightgrey;

                    &:first-child {
                        border-left: 1px solid $lightgrey;
                        border-top-left-radius: 5px;
                    }
                    &:last-child {
                        border-right: 1px solid $lightgrey;
                        border-top-right-radius: 5px;
                    }

                    @include mq($until: md) {   
                        &.activeColMobile {
                            border-right: 1px solid $lightgrey;
                            border-top-right-radius: 5px;
                        }
                    }
                }
            }
        }
    }
    tbody {
        tr {
            &:last-child {
                // th {
                //     border-top: 1px solid $lightgrey;
                // }
                th {
                    &:first-child {
                        border-left: 1px solid $lightgrey;
                        border-bottom-left-radius: 5px;
                    }
                }
                td {
                    &:last-child {
                        border-right: 1px solid $lightgrey;
                        border-bottom-right-radius: 5px;
                    }
                    
                }
            }
        }
    }

    &.noHeaders {
        tbody {
            tr {
                &:first-child {
                    th {
                        border-top: 1px solid $lightgrey;

                        &:first-child {
                            // border-left: 1px solid $lightgrey;
                            border-top-left-radius: 5px;
                        }
                    }
                    td {
                        border-top: 1px solid $lightgrey;

                        &:last-child {
                            // border-left: 1px solid $lightgrey;
                            border-top-right-radius: 5px;
                        }
                    }
                }
            }
        } 
    }
    
    
    // @include mq($until: md) {
    //     display: block;
    // }

    tr {
        td, th {
            padding: 0.75rem 0.75rem;
            border-color: $lightgrey;
            border-width: 1px !important;
            border-left: 1px solid $lightgrey;
            vertical-align: middle;

            &:last-child {
                border-right: hidden;
            }
        }
    }
    
    td {
        text-align: center !important;
        // min-width: 10rem;
    }
    // th {
    //     min-width: 15rem;
    // }
    tr {
        color: $black;
    }


}
.fixedHeader {
    position: absolute;
    // top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    background-color: #fff;
    z-index: 10;  
    .table {
        margin-bottom: 0!important;
    }
    .tableHeader {
        padding: 0.125rem 0.5rem!important;
    }
}
