@import '../../../components/layout/style/globals';

.accordionText {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: all 0.4s ease;

	&.expandedAccordion {
		opacity: 1;
		margin-top: 1rem;
		max-height: none;
	}
}
.accordion>div {
	cursor: pointer;
}

.accordion {

	display: flex;
    flex-direction: column;
    align-items: center;

	>div {
		display: block;
		margin-bottom: 1.25rem;
		// background-color: grey;
	}

	h5 {
		margin: 0;
		padding-right: 3rem;
		padding-left: 1rem;
	}

	p {
		padding-left: 1rem;
	}

	.question {
		padding: 1rem;
		border-radius: 0.3125rem;
		max-width: 808px;
	}


}
