@import '../../../components/layout/style/globals';

@keyframes circle-chart-fill {
    to { stroke-dasharray: 0 100; }
  }
  
  @keyframes circle-chart-appear {
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.pricingHeadline {
    font-weight: normal;
    margin-bottom: 2.5rem;
}

.card {
    display: block;

    img {
        margin: auto;
        width: 5rem;
        max-width: 5rem;
    } 
}
.list {
    display: inline-block;
}
.circleChart {

    .circle {
        stroke: rgba($darkgrey, 0.7);
        stroke-width: 4px;
        transition-duration: 0;
        fill: none;
        
        // stroke-dasharray: 302px;
        // stroke-dashoffset: 263.1714285714288px;
        transition: all 0.4s linear 0s;
    }
    
    .circleBg {
        stroke: $mediumgrey;
        stroke-width: 4px;
        fill: none;
    }
    
    animation: circle-chart-fill 2s reverse;
    transform: rotate(-90deg);
}


.circle {
    position: relative;
    border-radius: 50%;
    width: 10rem;
    max-width: 100%;
    height: 10rem;
    margin: auto;
    margin-bottom: 2.5rem;

    &.greenCircle {
        background: linear-gradient(to right, #92E2A1, #00AF21);
        padding: 15px;
    }

    &.greyCircle {
        background: $lightgrey;
    }

    .innerCircle {
        position: relative;
        border-radius: 50%;
        background-color: $white;
        width: 100%;
        height: 100%;
        z-index: 5;

        
    }
    .circleText {
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        
        h3 {
            margin: 0;
        }
        p {
            font-size: 0.8rem;
            margin: 0;
        }
    }
}

.currentCard {
    margin-right: -3rem;

    @include mq($until: lg) {
        margin-right: -2.5rem
    }
    @include mq($until: md) {
        margin-right: 0;
        margin-bottom: -2.5rem;
        // padding-bottom: 2.5rem;
        width: 90%;

        .card {
            padding-bottom: 2.5rem;
  
        }
    }
}