@import '../../layout/style/globals';

.hr {
    border-top: 2px solid $lightgrey;
    margin: 2rem 0;
}

.card {
    padding: 1.875rem;
    padding-bottom: 0.75rem;
    background: #151515;
    border-radius: 5px;
    margin-bottom: 1.875rem;
    width: 100%;
    border:none;
    text-align: left;

    &:focus {
        outline: none;
    }

    .videoesFade {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.75) 50%, rgba(255,255,255,0) 100%);
        }
        p {
            font-size: 0.8rem;
            margin-bottom: 1rem;
        }
    }
    &.invertedCard {
        h4, p  {
            color: $white;
        }
        .videoesFade {
            &:before {
                background: linear-gradient(0deg, rgba(21,21,21,1) 0%, rgba(21,21,21,0.75) 50%, rgba(21,21,21,0) 100%);
            }
        }
    }
}
.modalWrapper {
    padding: 5rem 3rem;

    @include mq($until: md) {
        padding: 5rem 1.1rem;
    }
}