.icon {
    height: 3rem;
    margin-bottom: 0.5rem;
}

.fullWidth {
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    max-width: 100vw;
}
.extraFullWidth {
    width: 135vw;
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: none;
}
.noBorderRadius {
    border-radius: 0;
}
.section {
    position: relative;
    
    .backgroundTop {
        position: absolute !important;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80vw;
        max-width: none;
        opacity: 0.1;
    }
}