.section {
    position: relative;
}

.bottomSway {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.topSway {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}