@import '../../layout/style/globals';

.buttonSwitch {
    background-color: $lightgrey;
    padding: 0.25rem;
    margin: auto;
    border-radius: $button-border-radius;
    
    @include mq($until: md) {
        display: flex;
        position: relative;
    }

    .button {
        color: $black;

        &.inactive {
            background-color: transparent;
            color: $black;
            border-color: transparent;
        }

        .extraText {
            color: $blue;
            margin-left: 0.25rem;
        }
    }
    
    @include mq($until: md) {
        &.xsColumn {
            flex-direction: column;
            border-radius: 1.5rem;
        }
    }
    
}