@import '../../layout/style/globals';

@keyframes fade-in {
    from { opacity: 0; transform: translateY(1rem); }
    to { opacity: 1; transform: translateY(0); }
}

.image {
    @include borderradius;
    animation: fade-in 0.4s linear 0s;
    width: 100%;
}
