@import '../../../components/layout/style/globals';

.form {
    input {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23002d4f;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M11.742,10.33a6.524,6.524,0,1,0-1.414,1.414L14.586,16,16,14.588,11.742,10.33ZM6.5,11A4.5,4.5,0,1,1,11,6.5,4.5,4.5,0,0,1,6.5,11Z' transform='translate(0 -0.002)'/%3E%3C/svg%3E");
        background-position: right center;
        background-size: 3rem 1rem;
        background-repeat: no-repeat;
        padding-right: 1rem;
    }
}

.results {
    display: block!important;
    list-style: none;
    text-align: left;
    animation: fadeUp 0.6s cubic-bezier(0.44, 0, 0.18, 1.04);
}

.writer {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

a {
    &:hover {
        text-decoration: none!important;
    }
}

.categoryCard {
    font-size: 0.75rem;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    background-color: $lightblue;
    color: $blue;
    border-radius: 1rem;
    margin-bottom: 0.5rem!important;
}

