@import '../../../components/layout/style/globals';

@keyframes fadeUp {
    0%   { opacity: 0; transform: translateY(2rem);}
    100% { opacity: 1; translate: translateY(0);}
  }

.form {
    input {
        height: auto;
        border-radius: 5rem;
    }
    // button {
    //     margin-left: 1rem;
    // }
}

.results {
    display: block!important;
    list-style: none;
    text-align: left;
    animation: fadeUp 0.6s cubic-bezier(0.44, 0, 0.18, 1.04);
}

.writer {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

a {
    &:hover {
        text-decoration: none!important;
    }
}

ul {
    padding: 0;
}

.categoryCard {
    font-size: 0.75rem;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    background-color: $lightblue;
    color: $blue;
    border-radius: 1rem;
    margin-bottom: 0.5rem!important;
}

