@import '../../../style/globals';

.subMenuFooter {
        padding: 2rem 0;

        .subMenuFooterText {
            margin-bottom: 0!important;
            padding-right: 3.125rem;
            font-size: 1rem;

            @include mq($until: lg) {
                font-size: 1.125rem;
                margin-bottom: 0.9375rem !important;
                padding-right: 0;

            }
        }

        @include mq($from: lg) {
            padding: 2.5rem;
            margin: 0 2.2rem 2.2rem 2.2rem;
            background-color: $lightgrey;
        }
        @include mq($until: lg) {
            display: flex;
            background-color: $lightgrey;
            flex-direction: column;
            padding: 1.75rem;
            margin-top: 1.875rem;
        }	
    
}
