@import '../../../layout/style/globals';

li {
    padding: 2.5rem 5rem;
    padding-right: 4rem;
    @include borderradius;
    cursor: pointer;

    .slide-text {
        transition: max-height 0.4s ease;
        overflow: hidden;   
    }

    h4 {
        position: relative;
    }
    img {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
    }

    img.icon {
        left: -3.5rem;
        width: 2rem;
    }
    
    img.arrow {
        right: -2rem;
        width: 1rem;
    }
    
    &.active {
        background-color: rgba($blue, 0.1);

        img.arrow {
            transform: translateY(-50%) scaleY(-1);
            transition: transform 0.2s ease;
        }
    }
}