@import '../../../layout/style/globals';

@keyframes img-animate {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

li.slide {
    padding: 2.5rem 5rem;
    padding-right: 4rem;
    @include borderradius;
    cursor: pointer;

    .text {
        transition: max-height 0.4s ease;
        overflow: hidden;   
    }

    h4 {
        position: relative;
    }
    img.icon, img.arrow {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
    }

    img.icon {
        left: -3.5rem;
        width: 2rem;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
    }
    
    img.arrow {
        right: -2rem;
        width: 1rem;
        transform: translateY(-50%) scaleY(-1);
    }
    
    &.active {
        background-color: rgba($blue, 0.1);

        img.arrow {
            transform: translateY(-50%) scaleY(1);
            transition: transform 0.2s ease;
        }
        .animate {
            animation: img-animate 0.4s ease 0s;
        }
        
    }
    
}
