@import '../../../layout/style/globals';

li {
    padding: 2.5rem 5rem;
    @include borderradius;
    cursor: pointer;

    &.active {
        background-color: rgba($blue, 0.1);
    }

    .slide-text {
        transition: max-height 0.4s ease;
        overflow: hidden;   
    }

}