@import '../../layout/style/globals';

.header {
    position: relative;
    // overflow: hidden;
    z-index: 5;
    padding-top: 5rem;

    // @include mq($until: xl) {
    //     padding-bottom: 0;
    //     padding-top: 7.5rem;
    // } 

    &.centered {
        padding-top: 7.5rem;
    }

}

.whiteSways {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}