@import '~baseguide/scss/baseguide/01-tools/animation';

@keyframes fadeUp {
    0%   { opacity: 0; transform: translateY(2rem);}
    100% { opacity: 1; translate: translateY(0);}
  }

.fadeUp {
    animation: fadeUp .5s cubic-bezier(0.3, 0.05, 0.14, 0.99);
}
