@import '~baseguide/scss/baseguide/01-tools/mixins';

@mixin borderradius {
    border-radius: 10px;
}

@mixin box-shadow {
    // box-shadow:0px 3px 10px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.06);
}

@mixin box-shadow-hover {
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.04);
}

@mixin card {
    padding: 2.5rem;
	text-align: center;
	position: relative;
	width: 100%;
	margin-bottom: 2rem;
}
@mixin card-visible {
    border: 1px solid lighten($grey, 10);
    @include box-shadow;
    background-color: white;
    transition-duration: 0.4s;
    border-radius: 10px;
}