@import '~baseguide/scss/baseguide/01-tools/mixins';

@mixin borderradius {
    border-radius: 10px;
}

@mixin box-shadow {
    // box-shadow:0px 3px 10px 0px rgba(0, 0, 0, 0.05);
    // box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.03);
}
@mixin box-shadow-hard {
    // box-shadow:0px 3px 10px 0px rgba(0, 0, 0, 0.05);
    // box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

@mixin box-shadow-hover {
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.04);
}

@mixin card {
    padding: 2.5rem;
	text-align: center;
	position: relative;
	width: 100%;
	margin-bottom: 2rem;
}

@mixin card-visible {
    // border: 1px solid lighten($grey, 10);
    // @include box-shadow;
    background-color: white;
    transition-duration: 0.4s;
    border-radius: 1.25rem;
}

@mixin card-blog {
    border: 1px solid lighten($grey, 10);
    @include box-shadow;
    background-color: white;
    transition-duration: 0.4s;
    border-radius: 0.3125rem;
}



@mixin gradiant-background {
    background: rgb(253,15,208);
    background: linear-gradient(90deg, rgba(253,15,208,1) 0%, rgba(157,0,255,1) 39%, rgba(0,99,255,1) 64%, rgba(0,245,255,1) 100%);
}
@mixin gradiant {
    background: rgb(0,245,255);
    background: linear-gradient(270deg, rgba(0,245,255,1) 0%, rgba(0,99,255,1) 29%, rgba(157,0,255,1) 61%, rgba(253,15,208,1) 100%);
}
@mixin gradiant-bottom-border {
    &::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		height: 5px;
		width: 100%;
		@include gradiant-background;
	}
}
@mixin gradiant-background-faded {
    @include gradiant-background;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.9) 26%, rgba(255,255,255,1) 100%);
    }

    @include gradiant-bottom-border;
}
