@import '../../layout/style/globals';

.btn {
	font-size: 0.875rem;
	font-weight: 600;
	border-radius: 5rem;

	position: relative;

	

	.submitted, .submitting, .submitError {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.submitError {
		opacity: 1;
	}

	.buttonTitleHidden {
		visibility: hidden;

	}
}

.textLink {
	font-weight: 600;
	padding-right: 1.5rem;
	position: relative;

	&.arrow::after {
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		width: 0.8rem;
		height: 0.8rem;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='10' viewBox='0 0 12 10'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%230087ef;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(12 51.674) rotate(180)'%3E%3Cg transform='translate(0 41.674)'%3E%3Cpath class='a' d='M11.325,45.73l.019,0H3.314L5.839,43.2a.667.667,0,0,0,0-.935l-.393-.394a.655.655,0,0,0-.927,0L.191,46.207a.665.665,0,0,0,0,.934l4.327,4.341a.656.656,0,0,0,.927,0l.393-.394a.653.653,0,0,0,.191-.465.634.634,0,0,0-.191-.456L3.286,47.614h8.049A.681.681,0,0,0,12,46.938v-.558A.668.668,0,0,0,11.325,45.73Z' transform='translate(0 -41.674)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		transform: translateY(-50%);
		transition: right 0.2s ease;
	}

	&.arrow:hover {
		&::after {
			right: -0.2rem;
		}
	}
}

@include mq($from: md) {
	.large {
		font-size: 1.125rem;
		padding: 1rem 3.25rem;
		border-radius: 6.25rem;
	}
}

.secondary {
	background-color: transparent;
	color: $blue;
    border-color: $blue;
    
    &.white {
        background-color: transparent;
        color: $white;
        border-color: $white;
    
        &:hover, &:active {
            background-color: rgba($white, 0.4);
            color: $white;
            border-color: $white;
        }
    }
}

.white {
	background-color: $white;
	border-color: $white;
	color: $blue;

	&:hover, &:active {
		background-color: rgba($white, 0.8);
		// border-color: $white;
		color: $blue;
	}
}
.btnDanger {
	background-color: $red !important;
	border-color: $red!important;
	color: $white!important;

	&:hover, &:active {
		background-color: rgba($red, 0.8)!important;
		// border-color: $white;
		color: $white!important;
	}
}