@import '../../layout/style/globals';

.btn {
	font-size: 0.875rem;
	font-weight: 600;
	border-radius: 5rem;
}

@include mq($from: md) {
	.large {
		font-size: 1.125rem;
		padding: 1rem 3.25rem;
		border-radius: 6.25rem;
	}
}

.secondary {
	background-color: transparent;
	color: $black;
    border-color: $black;
    
    &.white {
        background-color: transparent;
        color: $white;
        border-color: $white;
    
        &:hover, &:active {
            background-color: rgba($white, 0.4);
            color: $white;
            border-color: $white;
        }
    }
}

.white {
	background-color: $white;
	border-color: $white;
	color: $blue;

	&:hover, &:active {
		background-color: rgba($white, 0.8);
		// border-color: $white;
		color: $blue;
	}
}