@import '../../layout/style/globals';

.btn {
	font-size: 0.875rem;
	font-weight: 600;
	border-radius: 5rem;

	position: relative;

	

	.submitted, .submitting, .submitError {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.submitError {
		opacity: 1;
	}

	.buttonTitleHidden {
		visibility: hidden;

	}
}

.textLink {
	font-weight: 600;
	padding-right: 1.5rem;
	position: relative;

	&.arrow::after {
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		width: 0.6rem;
		height: 0.6rem;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3.75' height='6' viewBox='0 0 3.75 6'%3E%3Cpath d='M.441,0a.414.414,0,0,0-.4.278A.435.435,0,0,0,.169.756L2.7,2.993.169,5.229a.433.433,0,0,0-.163.412.423.423,0,0,0,.281.338.4.4,0,0,0,.42-.1L3.6,3.317a.436.436,0,0,0,0-.649L.706.108A.407.407,0,0,0,.441,0Z' transform='translate(0 0)' fill='%230063ff'/%3E%3C/svg%3E");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		transform: translateY(-50%);
		transition: right 0.2s ease;
	}

	&.arrow:hover {
		&::after {
			right: -0.2rem;
		}
	}

	&.noPadding {
		padding: 0;
	}

	&.regular {
		font-weight: 400;
	}
}

@include mq($from: md) {
	.large {
		font-size: 1.125rem;
		padding: 1rem 3.25rem;
		border-radius: 6.25rem;
	}
}

.secondary {
	background-color: transparent;
	color: $black;
    border-color: $black;
    
    &.white {
        background-color: transparent;
        color: $white;
        border-color: $white;
    
        &:hover, &:active {
            background-color: rgba($white, 0.4);
            color: $white;
            border-color: $white;
        }
    }
}

.white {
	background-color: $white !important;
	border-color: $white  !important;
	color: $black  !important;

	&:hover, &:active {
		background-color: rgba($white, 0.8)  !important;
		// border-color: $white;
		color: $black !important;
	}
}
.btnDanger {
	background-color: $red !important;
	border-color: $red!important;
	color: $white!important;

	&:hover, &:active {
		background-color: rgba($red, 0.8)!important;
		// border-color: $white;
		color: $white!important;
	}
}