
@import '../../layout/style/globals';


.tablesSection {
    .tablesSectionInner {
        overflow: hidden;
    }
    .center {
        margin: auto;
    }
    .tableWrap:last-child {
        >div {
            margin-bottom: 0;
        }
    }
}

// .tabsWrapper {
//     position: relative;
//     &::before {
//         content: '';
//         position: absolute;
//         right: 0;
//         top: 0;
//         background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 20%, rgba(255,255,255,1) 100%); 
//         width: 1rem;
//         height: 100%;
//         z-index: 100;
//     }
// }

.tabs {
    display: none;
    @include mq($until: lg) {
    // position: fixed;
    // padding: 1.1rem 1.1rem;
    // bottom: 0;
    // left: 0;
    width: 100%;
    display: flex;
    // justify-content: center;
    // overflow-x: scroll;
    justify-content: flex-start;
    // background-color: $white;
    // box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
    // z-index: 10;
   
    
    .tab {
        border-radius: 0;
        
        border-right-width: 0;

        &:last-child {
            border-right-width: 1px;
            border-top-right-radius: 5rem;
            border-bottom-right-radius: 5rem;
        }

        &:first-child {
            border-top-left-radius: 5rem;
            border-bottom-left-radius: 5rem;
        }

        &.active {
            background-color: $blue;
            color: $white;
        }

        

                
        
        }

    }
}

.backgroundGradiant {
    @include gradiant-background-faded;
    position: relative;
    height: 25rem;
}
.tableHeaderSection {
    margin-top: -25rem;
    padding-top: 0;
    padding-bottom: 0;
}