.section {
    position: relative;

    .whiteSways {
        position: absolute;
        bottom: 25%;
        left: 0;
        width: 100%;
        z-index: 2;
    }
    .card {
        z-index: 5;
    }
    &.whiteBox::before {
        content: '';
        z-index: 3;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 25%;
        background-color: #fff;
    }
}